.article-feature {
  &__textblock {
    color: $color-corporate-blue;

    @include desktop {
      padding-right: 60px;
      padding-left: $mobile-block-offset;
    }

    @include tablet {
      padding: $mobile-xs-block-offset 15px;
    }
  }

  &__imageblock {
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-corporate-yellow;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: $color-white;

      svg {
        width: 30px;
        height: 24px;
      }
    }

    h3 {
      margin: 0;
      width: calc(100% - 56px);
    }
  }

  h1 {
    margin-bottom: 16px;
  }

  .link-arrow {
    display: inline-flex;

    @include desktop {
      margin-left: 23px;
    }
  }
}
