.block-image-and-text {
  padding-top: $desktop-block-offset;
  padding-bottom: $desktop-block-offset;

  .image-container {
    img {
      display: block;
      border-radius: $primary-border-radius;
      width: 100%;
      max-width: 100%;

      @include tablet {
        margin-bottom: $mobile-block-offset;
      }

      @include mobile {
        margin-bottom: $mobile-xs-block-offset;
      }
    }

    @include desktop {
      padding-right: 40px;
    }
  }

  .text-container {
    .cta {
      margin-top: $mobile-block-offset;
    }
  }

  .h3-like {
    margin-bottom: 16px;
    color: $color-corporate-blue;
  }

  .ul-like {
    display: flex;
    flex-wrap: wrap;
    margin-top: $mobile-block-offset;

    li {
      @include tablet-and-desktop {
        width: calc(50% - 30px);

        &:nth-child(odd) {
          margin-right: 30px;
        }

        &:nth-child(even) {
          margin-left: 30px;
        }
      }
    }

    @include mobile {
      padding-left: 8px;
    }
  }

  h6 {
    margin-bottom: 9px;
    color: $color-corporate-blue;
  }

  p {
    margin-bottom: 24px;
  }

  .border-left {
    margin-left: 40px;
    max-width: 550px;

    @include tablet {
      max-width: 100%;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  .text-logo {
    margin-top: 75px;
    margin-left: 40px;

    @include tablet {
      margin-top: $mobile-block-offset;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  @include tablet {
    padding-top: $tablet-block-offset;
    padding-bottom: $tablet-block-offset;
  }

  @include mobile {
    padding-top: $mobile-block-offset;
    padding-bottom: $mobile-block-offset;
  }
}
