// styles from ./components/block-image-and-text

.block-heading-and-text-logos {
  .image-container {
    padding-right: 40px;

    img {
      display: block;
      border-radius: $primary-border-radius;
      width: auto;
      max-width: 100%;

      @include mobile {
        margin-bottom: 0;
      }
    }

    @include tablet {
      padding: 0;
    }
  }

  .image-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $desktop-block-offset;
    padding-bottom: $mobile-block-offset;
    background-color: $color-white;

    @include tablet {
      margin-bottom: $mobile-block-offset;
      padding: $desktop-block-offset 0 $mobile-block-offset;
    }

    @include mobile {
      margin-bottom: $mobile-xs-block-offset;
      padding: $mobile-block-offset 0;
    }
  }
}
