.block-bullet-point-section {
  padding: $desktop-block-offset 0;

  h1 {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 56px;
    }

    @include mobile {
      margin-bottom: $mobile-block-offset;
    }
  }

  ul {
    li {
      font-family: $font-secondary;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .cta {
    margin-top: 50px;

    @include tablet {
      margin-top: $mobile-block-offset;
    }
  }
}
