.block-image-and-text {
  .image-container {
    img {
      display: block;
      border-radius: $primary-border-radius;
      width: 100%;
      max-width: 100%;

      @include tablet {
        margin-bottom: $mobile-block-offset;
      }

      @include mobile {
        margin-bottom: $mobile-xs-block-offset;
      }
    }

    @include desktop {
      padding-right: 40px;
    }
  }

  .text-container {
    .cta {
      margin-top: $mobile-block-offset;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .h3-like {
    margin-bottom: 16px;
    color: $color-corporate-blue;
  }

  .ul-like {
    display: flex;
    flex-wrap: wrap;
    margin-top: $mobile-block-offset;

    li {
      &:last-child {
        margin-bottom: 0;
      }

      @include tablet-and-desktop {
        width: calc(50% - 30px);

        &:nth-child(odd) {
          margin-right: 30px;
        }

        &:nth-child(even) {
          margin-left: 30px;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &.li-full {
      li {
        @include tablet-and-desktop {
          width: 100%;

          &:nth-child(odd) {
            margin-right: 0;
          }

          &:nth-child(even) {
            margin-left: 0;
          }
        }
      }
    }

    @include mobile {
      padding-left: 8px;
    }
  }

  h6 {
    margin-bottom: 9px;
    color: $color-corporate-blue;
  }

  p {
    margin-bottom: 24px;
  }

  .border-left {
    margin-left: 40px;
    max-width: 550px;

    @include tablet {
      max-width: 100%;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  .text-logo {
    margin-top: 75px;
    margin-left: 40px;

    &.items-2 {
      img {
        margin-right: 36px;
        max-width: calc((100% - 72px) / 2);
      }
    }

    &.items-3 {
      img {
        max-width: calc((100% - 72px) / 3);
      }
    }

    &.items-4 {
      img {
        max-width: calc((100% - 72px) / 4);
      }
    }

    @include tablet {
      margin-top: $mobile-block-offset;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  &--image-second {
    @include tablet {
      // stylelint-disable-next-line declaration-no-important
      padding-bottom: 0 !important;

      .image-container {
        // stylelint-disable-next-line declaration-no-important
        margin-bottom: 0 !important;
      }

      .text-container {
        margin-bottom: $mobile-block-offset;
      }
    }

    @include mobile {
      .text-container {
        margin-bottom: $mobile-xs-block-offset;
      }
    }
  }
}
