.header {
  background-color: $color-white;

  &__topside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 32px;
    background-color: $color-corporate-blue;

    span {
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
      color: $color-corporate-yellow;

      b {
        font-family: "Arial", sans-serif;
        font-weight: 700;
        color: $color-white;
      }
    }

    @include tablet {
      justify-content: center;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;

    @include mobile {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__burger {
    display: none;
    border: none;
    padding: 10px;
    width: 36px;
    height: 36px;
    background: none;
    cursor: pointer;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include tablet {
      display: block;
    }
  }

  &__close {
    position: fixed;
    left: 30px;
    top: 14px;
    z-index: 11;
    border: none;
    padding: 10px;
    width: 36px;
    height: 36px;
    background: none;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    transition: opacity 0.4s, visibility 0.4s;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: -14px;
      top: -14px;
      border: none;
      width: calc(100vw - 80px);
      height: 64px;
      background-color: $color-white;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(100vw - 96px);
      top: -16px;
      width: 100vw;
      height: 100vh;
    }

    svg {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-corporate-blue;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    @include mobile {
      left: 14px;
    }
  }

  &__logo {
    width: 133px;
    height: 52px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__rightside {
    display: flex;
    align-items: center;

    @include desktop {
      margin-bottom: -8px;
    }
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 20px;
      font-size: 0;

      > a {
        position: relative;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: $color-corporate-blue;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: $color-corporate-yellow;
          transform: translateZ(0) scaleX(0);
          transform-origin: left center;
          transition: transform 0.3s;
          will-change: transform;
        }

        @include desktop {
          &:hover {
            text-decoration: none;

            &::before {
              transform: translateZ(0) scaleX(1);
            }
          }
        }

        @include tablet {
          display: block;
          padding: 0;
          font-weight: 400;
          font-size: 18px;
          line-height: 52px;
        }
      }

      &.dropdown {
        .dropdown-content {
          position: absolute;
          left: 0;
          right: 0;
          z-index: 3;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.4s, visibility 0.4s;
          pointer-events: none;

          &__container {
            display: flex;
            margin: 0 auto;
            max-width: 904px;

            img {
              display: block;
              margin-right: 80px;
              width: 420px;

              @include tablet {
                display: none;
              }
            }

            ul {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                margin-bottom: 20px;

                a {
                  font-size: 24px;
                  line-height: 28px;
                  color: $color-corporate-blue;
                  transition: color 0.3s, opacity 0.3s;

                  @include desktop {
                    &:hover {
                      text-decoration: none;
                      color: $color-corporate-yellow;
                    }
                  }

                  @include tablet {
                    font-size: 16px;
                    line-height: 18px;
                    opacity: 0.5;
                  }
                }

                @include tablet {
                  margin-bottom: 15px;

                  a {
                    &:hover,
                    &:active {
                      text-decoration: none;
                      // stylelint-disable-next-line declaration-no-important
                      opacity: 1 !important;
                    }
                  }

                  &.is-active {
                    a {
                      // stylelint-disable-next-line declaration-no-important
                      opacity: 1 !important;
                    }
                  }
                }
              }

              @include desktop {
                max-width: calc(100% - 500px);
              }

              @include tablet {
                padding-bottom: 8px;
              }
            }
          }

          @include desktop {
            padding-top: 54px;
            padding-bottom: 56px;
            box-shadow: 0 9px 15px rgba(0, 0, 0, 0.05171);
            background-color: $color-white;
          }

          @include tablet {
            position: relative;
            display: none;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }

        .dropdown-button {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          border: none;
          padding: 0;
          width: 52px;
          height: 52px;
          background: 0;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: url("../images/sprites/svg/plus.svg") no-repeat right center;
            background-size: 12px 12px;
            transform: translateZ(0);
            transition: opacity 0.3s;
            will-change: opacity;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: url("../images/sprites/svg/minus.svg") no-repeat right center;
            background-size: 12px 12px;
            opacity: 0;
            transform: translateZ(0);
            transition: opacity 0.3s;
            will-change: opacity;
          }

          @include desktop {
            display: none;
          }
        }

        &.is-open {
          .dropdown-button {
            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
            }
          }
        }

        @include desktop {
          position: inherit;

          @include desktop {
            &:hover {
              .dropdown-content {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }
          }
        }
      }

      @include tablet {
        display: block;
        margin: 0;
        border-bottom: 1px solid $color-light-blue;
        padding-right: 52px;

        &:first-child {
          border-top: 1px solid $color-light-blue;
        }
      }
    }

    @include desktop {
      display: flex;
      align-items: center;
    }

    @include tablet {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      display: block;
      overflow-y: auto;
      padding: $desktop-block-offset $mobile-block-offset;
      width: calc(100% - 80px);
      height: 100vh;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      background-color: $color-white;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%) translateZ(0);
      transition: opacity 0.4s, visibility 0.4s, transform 0.3s;
      pointer-events: none;

      &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0) translateZ(0);
        pointer-events: auto;
      }
    }

    @include mobile {
      padding: $desktop-block-offset $mobile-xs-block-offset $mobile-block-offset;
    }
  }

  &__search-button {
    border: none;
    padding: 10px;
    width: 36px;
    height: 36px;
    background: none;
    cursor: pointer;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-corporate-blue;
    }

    @include desktop {
      margin-left: 20px;
    }
  }

  &__search {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    padding-top: 54px;
    padding-bottom: 56px;
    background-color: $color-white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    pointer-events: none;

    form {
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 960px;
    }

    input {
      border: none;
      border-radius: 30px;
      padding: 0 24px;
      width: calc(100% - 140px);
      height: 60px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);
      font-weight: 400;
      font-size: 24px;
      line-height: 60px;
      color: $color-corporate-blue;
      background: $color-white;

      &::placeholder {
        font-size: 24px;
        line-height: 60px;
        color: $color-corporate-blue;

        @include tablet {
          font-size: 18px;
          line-height: 50px;
        }

        @include mobile {
          font-size: 16px;
          line-height: 40px;
        }
      }

      @include tablet {
        width: calc(100% - 120px);
        height: 50px;
        font-size: 18px;
        line-height: 50px;
      }

      @include mobile {
        padding-left: 20px;
        width: calc(100% - 80px);
        height: 40px;
        font-size: 16px;
        line-height: 40px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 40px;
      border: 1px solid $color-corporate-yellow;
      border-radius: 30px;
      padding: 0;
      width: 100px;
      height: 60px;
      background: $color-corporate-yellow;
      transition: background 0.3s, border-color 0.3s;

      svg {
        width: 24px;
        height: 24px;
        fill: $color-white;
        transition: fill 0.3s;
      }

      &:active {
        border-color: $color-yellow-hover;
        background-color: $color-yellow-hover;

        svg {
          fill: $color-white;
        }
      }

      @include desktop {
        &:hover {
          border-color: $color-corporate-blue;
          background-color: $color-white;

          svg {
            fill: $color-corporate-blue;
          }
        }
      }

      @include tablet {
        width: 80px;
        height: 50px;
      }

      @include mobile {
        margin-left: 20px;
        width: 60px;
        height: 40px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    @include tablet {
      padding: $mobile-xs-block-offset $mobile-xs-block-offset;
    }
  }
}
