section.article-list.article-list--with-image
  .container-lg
    .row
      .col-12.col-lg-6
        .article-list__container
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur lorem ipsum 
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
      .col-12.col-lg-6
        .article-list__container
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur lorem ipsum 
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
