.article-share
  h6.h6-like Share on:
  .article-share__items
    a(href="#")
      img(src="/images/twitter.svg" alt="")
    a(href="#")
      img(src="/images/linkedin.svg" alt="")
    a(href="#")
      img(src="/images/mail.svg" alt="")
