.article-reading.block-offset-top-and-bottom
  .container-lg
    .article-reading__container
      .article-reading__items
        h6.article-reading__label Title
        .article-reading__articles
          article.article-reading__item.is-active
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Memo to Managers: Making the Most of Our Code of Conduct
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like The weakest links
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Insider trading misconception
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Confidential information
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Employees who work in an ethical environment are more inclined to go the extra mile for the boss
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Ethics self-assessment…will you pass the test?
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like 'Little things' mean a lot
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Preventing insider trading violations
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
      .article-reading__display
        h6.article-reading__label Reading
        .article-reading__display__content
          .article-reading__display__container
            p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
            p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
            ul
              li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
              li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
              li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
              li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
            p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
            p What can you do about this?
            ul
              li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
              li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
              li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
              li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
              li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
            p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
            p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
            ul
              li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
              li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
              li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
              li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
            p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
            p What can you do about this?
            ul
              li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
              li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
              li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
              li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
              li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
