section.article-list.article-list--full.block-offset-top-and-bottom
  .container-xs
    .row
      .col-12
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Vapor Company Announces VELO - Expanding Emerging Modern Oral Portfolio And Choice For Adult Tobacco Consumers
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Tobacco Makes Significant Step On Tobacco Harm Reduction; FDA To Continue Its Evaluation On Modified-Risk Claims For Camel Snus
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like Reynolds American Inc. Named As One Of The Best Workplaces For Manufacturing & Production By FORTUNE Magazine
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like Second Year In A Row - Reynolds American Certified As A Great Place To Work
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Vapor Company Announces VELO - Expanding Emerging Modern Oral Portfolio And Choice For Adult Tobacco Consumers
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Tobacco Makes Significant Step On Tobacco Harm Reduction; FDA To Continue Its Evaluation On Modified-Risk Claims For Camel Snus
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like Reynolds American Inc. Named As One Of The Best Workplaces For Manufacturing & Production By FORTUNE Magazine
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like Second Year In A Row - Reynolds American Certified As A Great Place To Work
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Vapor Company Announces VELO - Expanding Emerging Modern Oral Portfolio And Choice For Adult Tobacco Consumers
        article.article-list__item
          a(href="#")
            p.article-list__item__date 2 August 2019
            h3.h5-like R.J. Reynolds Tobacco Makes Significant Step On Tobacco Harm Reduction; FDA To Continue Its Evaluation On Modified-Risk Claims For Camel Snus