section.article-grid.block-offset-top-and-bottom
  .container-lg
    .row
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            img(src="/images/article-1.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Lorem ipsum dolor sit amet
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="#")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date 08 August 2019
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            img(src="/images/article-2.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Lorem ipsum dolor sit ametet cons adipiscing do tempor
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed quia consequuntur magni.
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="#")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date 08 August 2019
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            img(src="/images/article-3.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Lorem ipsum dolor sit ametet cons adipiscing do tempor
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed quia consequuntur magni.
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="#")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date 08 August 2019
