+news-and-press({
  title: 'Latest News and Press',
  newsTitle: 'News',
  pressTitle: 'Press',
  newsLink: '/news-and-features.html',
  newsLinkName: 'All News',
  pressLink: '/press-releases.html',
  pressLinkName: 'All News Releases',
  news: [
    {
      link: '/santa-fe-natural.html',
      image: 'article-list-1.jpg',
      date: 'Feb. 10, 2020',
      title: 'Santa Fe Natural Tobacco Company moves to captured rainwater for irrigation',
      text: 'It takes time, energy and resources to maintain the properties and facilities that …',
    },
    {
      link: '/care-compassion-and-community.html',
      image: 'article-list-2.jpg',
      date: 'Feb. 10, 2020',
      title: 'Care, compassion and community commitment drive SFNTC’s Oxford employees',
      text: 'Hundreds of North Carolinians who live in and around Granville County are leading better …',
    },
  ],
  press: [
    {
      date: 'Jan. 22, 2020',
      text: 'Reynolds American Inc. Group earns top marks in 2020 Corporate Equality Index, designated a "Best Place to Work for LGBTQ Equality"',
      link: 'https://s2.q4cdn.com/129460998/files/doc_news/2020/News-Release-RAI-Group-Best-Place-to-Work-for-LGBTQ-Equality-Final-v2.pdf',
    },
    {
      date: 'July 8, 2019',
      text: 'R.J. Reynolds Vapor Company Announces VELO - Expanding Emerging Modern Oral Portfolio and Choice fo Adult Tobacco Consumers',
      link: 'https://s2.q4cdn.com/129460998/files/doc_news/2019/2019-Press-Release-Velo-RJRV-01.pdf',
    },
    {
      date: 'Sept. 18, 2019',
      text: 'Reynolds American Inc. named as one of the Best Workplaces for Manufacturing & Production by FORTUNE Magazine for second consecutive year',
      link: 'https://s2.q4cdn.com/129460998/files/doc_news/2019/09/091819_Fortune-Media-Release_FINAL.pdf',
    },
    {
      date: 'Oct. 11, 2019',
      text: 'Reynolds American Inc. submits Premarket Tobacco Product Application for VUSE products',
      link: 'https://s2.q4cdn.com/129460998/files/doc_news/2019/10/11/PMTA-Release-FINAL-191011.pdf',
    },
  ],
})
