article.article-feature.container-lg
  .article-feature__bg(style="background-color: #f9fcfe")
    .row.align-items-center
      .article-feature__textblock.col-12.col-md-6
        .article-feature__title
          .article-feature__title__icon
            img(src="/images/cap.svg" alt="")
          h3.h6-like Foundation Giving
        h1.h4-like Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .border-left.for-desktop
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        a.link-arrow(href="#")
          span Read Article
          +svg('arrow-right')
      .article-feature__imageblock.col-12.col-md-6
        img(src="/images/article-feature.jpg" alt="")