section.article-list
  .container-lg.article-list__tabs
    .article-list__tabs-buttons.for-tablet
      button.is-active(data-tab="news") News
      button(data-tab="press") Press
    .row
      .col-12.col-lg-6.article-list__tab.is-active(data-tab="news")
        .article-list__container
          article.article-list__item
            a.with-image(href="#")
              img(src="/images/article-list-1.jpg" alt="")
              .article-list__item__textblock
                p.article-list__item__date 2 August 2019
                h3.h6-like Lorem ipsum dolor sit amet consectetur lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adia is cing elit, sed do eiusmod tempor incididunt ut labore.
          article.article-list__item
            a.with-image(href="#")
              img(src="/images/article-list-2.jpg" alt="")
              .article-list__item__textblock
                p.article-list__item__date 2 August 2019
                h3.h6-like Lorem ipsum dolor sit amet consectetur
                p Lorem ipsum dolor sit amet, consectetur adia is cing elit, sed do eiusmod tempor incididunt ut labore.
      .col-12.col-lg-6.article-list__tab(data-tab="press")
        .article-list__container
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur lorem ipsum 
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
          article.article-list__item
            a(href="#")
              p.article-list__item__date 2 August 2019
              h3.h6-like Lorem ipsum dolor sit amet consectetur
