+news-and-press({
  title: 'Latest News and Press',
  newsTitle: 'News',
  pressTitle: 'Press',
  newsLink: '#',
  newsLinkName: 'All News',
  pressLink: '#',
  pressLinkName: 'All Press Releases',
  news: [
    {
      link: '#',
      image: 'article-list-1.jpg',
      date: '2 August 2019',
      title: 'Santa Fe Natural Tobacco Company moves to captured rainwater for irrigation',
      text: 'It takes time, energy and resources to maintain the properties and facilities that …',
    },
    {
      link: '#',
      image: 'article-list-2.jpg',
      date: '2 August 2019',
      title: 'Care, compassion and community commitment drive SFNTC’s Oxford employees',
      text: 'Hundreds of North Carolinians who live in and around Granville County are leading better …',
    },
  ],
  press: [
    {
      date: '2 August 2019',
      text: 'Lorem ipsum dolor sit amet consectetur lorem ipsum ',
    },
    {
      date: '2 August 2019',
      text: 'Lorem ipsum dolor sit amet consectetur lorem ipsum ',
    },
    {
      date: '2 August 2019',
      text: 'Lorem ipsum dolor sit amet consectetur lorem ipsum ',
    },
    {
      date: '2 August 2019',
      text: 'Lorem ipsum dolor sit amet consectetur lorem ipsum ',
    },
  ],
})
