section.article-list.article-list--full.article-list--years.block-offset-top-and-bottom
  //- .container-small
    .article-list__sort
      span Sort by
      select
        option All Press Releases
        option Newest
        option Oldest
        option Sort A to Z
        option Sort Z to A
  .article-list__years-container.container-xs
    .article-list__years
      ul
        li.is-active
          a(href="javascript:void(0)" data-year="all") All
        li
          a(href="javascript:void(0)" data-year="2020") 2020
        li
          a(href="javascript:void(0)" data-year="2019") 2019
        li
          a(href="javascript:void(0)" data-year="2018") 2018
        li
          a(href="javascript:void(0)" data-year="2017") 2017
    .row
      .col-12
        article.article-list__item(data-year="2020")
          a(href="/releases/News-Release-RAI-Group-Best-Place-to-Work-for-LGBTQ-Equality-Final-v2.pdf" target="_blank")
            p.article-list__item__date Jan. 22, 2020
            h3.h5-like Reynolds American Inc. Group earns top marks in 2020 Corporate Equality Index, designated a “Best Place to Work for LGBTQ Equality”
        article.article-list__item(data-year="2019")
          a(href="/releases/2019-Press-Release-Velo-RJRV-01.pdf" target="_blank")
            p.article-list__item__date July 8, 2019
            h3.h5-like R.J. Reynolds Vapor Company Announces VELO - Expanding Emerging Modern Oral Portfolio and Choice for Adult Tobacco Consumers
        article.article-list__item(data-year="2019")
          a(href="/releases/091819_Fortune-Media-Release_FINAL.pdf" target="_blank")
            p.article-list__item__date Sept. 18, 2019
            h3.h5-like Reynolds American Inc. named as one of the Best Workplaces for Manufacturing & Production by FORTUNE Magazine for second consecutive year
        article.article-list__item(data-year="2019")
          a(href="/releases/PMTA-Release-FINAL-191011.pdf" target="_blank")
            p.article-list__item__date Oct. 11, 2019
            h3.h5-like Reynolds American Inc. submits Premarket Tobacco Product Application for VUSE products
        article.article-list__item(data-year="2019")
          a(href="/releases/WoT-Annoucement-Press-Release.pdf" target="_blank")
            p.article-list__item__date October 2, 2019
            h3.h5-like Reynolds American Inc. unveils corporate initiative aimed to highlight and celebrate its innovative women leaders
        article.article-list__item(data-year="2019")
          a(href="/releases/CEO-Action-Release-191025.pdf" target="_blank")
            p.article-list__item__date Oct. 25, 2019
            h3.h5-like Reynolds American Inc.’s Ricardo Oberlander joins more than 750 CEOs in unprecedented commitment to advance diversity and inclusion in the workplace
        article.article-list__item(data-year="2019")
          a(href="/releases/112719_PMTA_scientific-review_FINAL.pdf" target="_blank")
            p.article-list__item__date Nov. 27, 2019
            h3.h5-like VUSE Premarket Tobacco Product Application Filed for Substantive Review by the FDA <br> First-of-its-Kind Filing for VUSE Products
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-01-RJRT-Release-1344.pdf" target="_blank")
            p.article-list__item__date Sept. 14, 2018
            h3.h5-like R.J. Reynolds Tobacco Makes Significant Step on Tobacco Harm Reduction; FDA to Continue its Evaluation on Modified-Risk Claims for Camel Snus
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-03-RAI-Press-Release-Parent-Leave-Policy-docx.pdf" target="_blank")
            p.article-list__item__date Oct. 22, 2018
            h3.h5-like Reynolds American Celebrates Families With Announcement of New Parental Leave Policy
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-04-Press-Release-RAI-Internship-Program.pdf" target="_blank")
            p.article-list__item__date Nov. 21, 2018
            h3.h5-like Reynolds American Inc. Group's Internship Program Gets Top Marks For Third Consecutive Year
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-02-RAI-Press-Release-Great-Place-to-Work-Manufacturing-Press-Release.pdf" target="_blank")
            p.article-list__item__date Sept. 12, 2018
            h3.h5-like Reynolds American Inc. named as one of the Best Workplaces for Manufacturing & Production by FORTUNE magazine
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-02-Final-Santa-Fe-100-million-milestone.pdf" target="_blank")
            p.article-list__item__date Dec. 14, 2018
            h3.h5-like Santa Fe Natural Tobacco Company Announces Major Recycling Milestone
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-01-Santa-Fe-Hurricane-Relief-Partnership-donation.pdf" target="_blank")
            p.article-list__item__date Nov. 26, 2018
            h3.h5-like Santa Fe Natural Tobacco Company Donation Supports Establishment of Hurricane Relief Partnership For Carolina Sustainable Farms
        article.article-list__item(data-year="2018")
          a(href="/releases/2018-01-RAI-Press-release-Second-Year-in-a-Row-RAI-Certified-as-a-Great-Place-to-Work.pdf" target="_blank")
            p.article-list__item__date Aug.  28, 2018
            h3.h5-like Second Year in a row - Reynolds American Certified as a Great Place to Work®
        article.article-list__item(data-year="2018")
          a(href="/releases/Vuse-Vibe-Recall-Press-Release-Final.pdf" target="_blank")
            p.article-list__item__date April 13, 2018
            h3.h5-like Urgent: Voluntary Product Recall of Vuse Vibe Power Units
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-16-Release-FDA-accepts-and-files-modified-risk-Tobacco-product-applications-docx.pdf" target="_blank")
            p.article-list__item__date December 18, 2017
            h3.h5-like FDA accepts and files modified risk tobacco product applications for Camel Snus
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-05-Proposed-BAT-acquisition-of-RAI-clears-US-antitrust-hurdle.pdf" target="_blank")
            p.article-list__item__date March 9, 2017
            h3.h5-like Proposed BAT acquisition of RAI clears U.S. antitrust hurdle
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-07-Proposed-BAT-acquisition-of-RAI-gains-Japan-antitrust-approval.pdf" target="_blank")
            p.article-list__item__date April 5, 2017
            h3.h5-like Proposed BAT acquisition of RAI gains Japan antitrust approval
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-01-RJRT-finalizes-donation-of-Whitaker-Park.pdf" target="_blank")
            p.article-list__item__date April 13, 2017
            h3.h5-like R.J. Reynolds Tobacco Company finalizes donation of Whitaker Park to local redevelopment group
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-06-RJRT-Submits-Mod-Risk-Tob-Prod-Apps-for-Camel-Snus.pdf" target="_blank")
            p.article-list__item__date April 3, 2017
            h3.h5-like R.J. Reynolds Tobacco Company Submits Modified Risk Tobacco Product Applications For Camel Snus
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-10-RAI-board-declares-qtr-cash-div-Susan-Cameron-elected-non-exec-chair.pdf" target="_blank")
            p.article-list__item__date May 4, 2017
            h3.h5-like RAI board declares quarterly cash dividend; Susan Cameron elected non-executive chairman
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-09-RAI-continues-positive-bus-momentum-in-1st-qtr-2017.pdf" target="_blank")
            p.article-list__item__date May 3, 2017
            h3.h5-like RAI continues positive business momentum in the first quarter of 2017
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-11-RAI-post-acquisition-leadership-team-announced.pdf" target="_blank")
            p.article-list__item__date May 30, 2017
            h3.h5-like RAI post-acquisition leadership team announced
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-03-RAI-reports-strong-growth-in-4th-qtr-full-yr-2016-earnings.pdf" target="_blank")
            p.article-list__item__date Feb. 9, 2017
            h3.h5-like RAI reports strong growth in fourth-quarter and full-year 2016 earnings
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-13-RAI-shareholders-approve-proposals-in-connection-with-proposed-a.pdf" target="_blank")
            p.article-list__item__date July 19, 2017
            h3.h5-like RAI shareholders approve proposals in connection with proposed acquisition by BAT
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-08-RAI-to-release-1Q17-results-on-May-3.pdf" target="_blank")
            p.article-list__item__date April 19, 2017
            h3.h5-like RAI to release 1Q17 results on May 3
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-02-RAI-to-release-4Q16-results-on-Feb-9.pdf" target="_blank")
            p.article-list__item__date Feb. 2, 2017
            h3.h5-like RAI to release 4Q16 results on Feb. 9
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-04-RA-and-its-employees-donated-13-million-to-nonprofits-in-2016.pdf" target="_blank")
            p.article-list__item__date March 7, 2017
            h3.h5-like Reynolds American and its employees donated $13 million to nonprofits in 2016.
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-01-RAI-announces-entry-into-merger-agreement-with-BAT.pdf" target="_blank")
            p.article-list__item__date Jan. 17, 2017
            h3.h5-like Reynolds American Announces Entry Into Merger Agreement With British American Tobacco
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-01-RAF-supports-American-Red-Cross-Texas.pdf" target="_blank")
            p.article-list__item__date Aug. 30, 2017
            h3.h5-like Reynolds American Foundation answers call to support American Red Cross efforts in Texas
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-12-RAI-announces-notice-of-special-meeting-of-shareholders.pdf" target="_blank")
            p.article-list__item__date June 14, 2017
            h3.h5-like Reynolds American Inc. announces notice of special meeting of shareholders
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-15-RAI-certified-as-a-great-place-to-work.docx.pdf" target="_blank")
            p.article-list__item__date Nov. 7, 2017
            h3.h5-like Reynolds American Inc. certified as a Great Place to Work®
        article.article-list__item(data-year="2017")
          a(href="/releases/2017-14-Release-RAI-lauded-as-elite-8-top-category-winner.docx-draft-092517-ED.pdf" target="_blank")
            p.article-list__item__date Sept. 26, 2017
            h3.h5-like Reynolds American Inc. lauded as 'Elite 8' top category winner as part of Achievers 50 Most Engaged Workplaces in North America