.banner.banner-with-mobile-image.banner--quote.theme-light.theme-dark-blue-mobile(style="background-image: url('/images/banner-quote.jpg')")
  .container-lg
    .row.content.align-items-center
      .col-12.for-mobile
        .banner__image(style="background-image: url('/images/banner-quote.jpg')")
      .col-12.col-lg-6.offset-lg-6
        h3.banner--quote__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        p.banner--quote__author Lorem ipsum
