.banner.banner--hero
  img(src="/images/main/banner.jpg" alt="")
  //- .container-lg
  //-   p.banner--hero__subtitle Reynolds American
  //-   h2.h1-like.text-center.banner--hero__title Delivering a better tomorrow
  //-   .banner--hero__image
  //-     img(src="/images/hero-banner.png" alt="")
