.banner.banner-with-mobile-image.theme-light.theme-dark-blue-mobile(style="background-image: url('/images/banner-text.jpg')")
  .container
    .row.content.align-items-center
      .col-12.for-mobile
        .banner__image(style="background-image: url('/images/banner-text.jpg')")
      .col-12
        h2.text-center.text-left-mobile To advance our supplier diversity program, the procurement department maintains relationships with the Women’s Business Enterprise National Council (WBENC), National Minority Supplier Development Council (NMSDC) and Carolinas-Virginia Minority Supplier Development Council (CVMSDC), National Veteran-Owned Business Association (NaVOBA), and the National Gay & Lesbian Chamber of Commerce (NGLCC).
