.banner.banner--hero(style="background: linear-gradient(90deg, #E1EFFC 25.78%, #FFBB00 129.87%)")
  .container-lg
    p.banner--hero__subtitle Reynolds American
    h2.h1-like.text-center.banner--hero__title Delivering a better tomorrow
    .banner--hero__image
      img(src="/images/hero-banner.png" alt="")
