.banner.banner--small.theme-light(style="background-image: url('/images/banner-centered-cta.jpg')")
  .container
    .row.content.align-items-center
      .col-12
        h2.h1-like.text-center Like what you see?
        a.button.centered.uppercase.cta(href="#") Search & Apply
