article.block-image-and-text(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/heading-subheading-description.jpg" alt="")
      .col-lg-6.text-container
        h1.h3-like Experienced
        .border-left
          h6 Finance
          p Finance influences our decision-making and lies at the heart of our business.
          h6 Human Resources
          p Our people are among our greatest assets, and the HR team works to ensure that every employee knows that they are a valued member of our team.
          h6 Information Technology
          p Information Technology aligns our digital capabilities with our business goals.
          h6 Legal & External Affairs
          p The Legal & External Affairs team – LEX for short – secures our companies’ brands, assets and people, now and in the future, through active engagement with internal and external stakeholders.
