article.block-image-and-text(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/body-text.jpg" alt="")
      .col-lg-6.text-container
        .border-left
          p The RAI Group of companies’ advocacy is in line with the principles discussed more fully in our statement of #[a(href="#" target="_blank") Vision and Beliefs], the policy positions discussed in the Transforming Tobacco section of this website, or is otherwise in the interests of the organization. 
          p The RAI Group participates in the political and public policy process in a manner consistent with the law and the interests of our businesses, but they are not, as a matter of policy, based on any officer's or employee's personal political preferences. We are engaged and collaborative with a diverse group of legislators and stakeholders at the federal, state and local levels, even when we may not necessarily agree with all of the positions taken by each candidate or organization to which we contribute.
