article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-start
      .col-lg-6.image-container
        .image-and-button
          img(src="/images/heading-and-text-logos.jpg" alt="")
          a.secondary-button.cta.small(href="#")
            span View site
            +svg('arrow-right')
      .col-lg-6.text-container
        h1.h3-like Santa Fe Natural Tobacco Company, Inc.
        .border-left
          p SFNTC is the manufacturer and marketer of Natural American Spirit cigarettes and roll-your-own tobacco products. The Natural American Spirit brand consists of fourteen cigarette styles and four roll-your-own styles.
          p SFNTC blenders create its cigarette and roll-your-own tobacco blends using two ingredients: whole-leaf tobacco and water. Natural American Spirit also makes certain styles of Natural American Spirit cigarettes and roll-your-own tobacco using U.S.-grown, certified-organic tobacco.
        .text-logo
          img(src="/images/company-logo.png" alt="")
