article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/heading-and-text.jpg" alt="")
      .col-lg-6.text-container
        h1.h3-like We believe in ensuring that employees have the necessary tools and resources to live their best lives.  
        .border-left
          p Whether it’s visiting an on-site health center, learning a new skill through one of the thousands of on-line course offerings, feeling confident when it comes to saving for the future, or taking time off to acclimate to a growing family, our comprehensive benefits support your total well-being.
