article.block-image-and-text(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/text-and-bullet-point.jpg" alt="")
      .col-lg-6.text-container
        p Our operating companies commit to ensuring equal-access business opportunities to qualified, high- potential, diverse suppliers. Procurement works with each operating company to determine and execute supplier diversity goals. We track the following diverse supplier categories:
        .border-left
          ul.ul-like
            li Minority-owned business
            li Service-disabled, veteran-owned business
            li Woman-owned business
            li Disadvantaged- or disabled-person owned business
            li Minority-woman-owned business
            li HUBZone business
            li Woman-owned small business
            li LGBTQ business
            li Minority-owned small business
            li Minority-woman-owned small business
            li Veteran-owned business
