article.block-bullet-point-section.theme-light(style="background-color: #172962")
  h1.h4-like.text-center Benefits offered to our employees include:
  .container
    ul.ul-like.row
      li.col-12.col-md-6 A best-in-class parental leave plan with 16 weeks paid leave and up to 8 months of a reduced work schedule
      li.col-12.col-md-6 On-site health and fitness centers
      li.col-12.col-md-6 Flexible hours and remote work options
      li.col-12.col-md-6 Bonus incentives for all employees
      li.col-12.col-md-6 Continuous professional learning and development programs
      li.col-12.col-md-6 401(k) savings – we contribute 3% to your 401(k) whether you participate or not. On top of that, we match your contribution at 100% up to 6%
    a.secondary-button.cta.large.centered(href="#")
      span Career Opportunities
      +svg('arrow-right')
