.call-out.call-out--long
  .call-out__image(style="background-image: url('./images/call-out.jpg')")
    .call-out__image__content
      h1.h3-like Transformation Journey
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Transformation Journey
    ul.call-out__list.js-dropdown-content
      li.is-active
        a(href="#") Transformation Journey
      li
        a(href="#") Harm Reduction
      li
        a(href="#") Consumers
  .call-out__content.container-lg
    .call-out__content__text
      h2 The RAI Group and its predecessor companies has been on a transformation journey since the 1700s. What started out as America’s first tobacco company specializing in snuff, is now leading the transformation of the tobacco industry with operating companies that offer a wide range of products to address the evolving preferences of adult tobacco consumers. Take a look at our journey and growth over the last 250+ years.
    .call-out__content__image(style="background-image: url('/images/call-out-content.jpg')")
