.call-out.call-out--short
  .call-out__image
    .call-out__image__content
      h1.h3-like Guiding Principles
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Guiding Principles
    ul.call-out__list.js-dropdown-content
      li
        a(href="#") Leadership
      li
        a(href="#") Ethics and Compliances
      li.is-active
        a(href="#") Guiding Principles
  .call-out__content
    h2.h3-like  We will achieve U.S. market leadership by transforming the tobacco industry.
