article.cards.cards--persons.block-offset-top-and-bottom
  .container-lg
    ul.row
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/person-1.png" itemprop="image" alt="")
          h3.h5-like Ricardo Oberlander
          p(itemprop="name") President and Chief Executive Officer Reynolds American Inc
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/person-2.png" itemprop="image" alt="")
          h3.h5-like Michael P. Auger
          p(itemprop="name") President of RAI Trade Marketing Services Company
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/person-3.png" itemprop="image" alt="")
          h3.h5-like Richard Bakker
          p(itemprop="name") Chief Financial Officer and Executive Vice President of Reynolds American Inc.
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/person-4.png" itemprop="image" alt="")
          h3.h5-like Bret Davies
          p(itemprop="name") Senior Vice President of Information Technology

.popup.person-popup(data-popup="1")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/person-popup-1.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Ricardo Oberlander
          p President and Chief Executive Officer Reynolds American Inc.
      .person-popup__textblock
        p Ricardo Oberlander has served as the president and chief executive officer of Reynolds American Inc. (RAI) since 2018. He previously served on the RAI Board of Directors for nearly three years.
        p Oberlander fosters the existing environment of professionalism, resilience and commitment to transforming the tobacco industry. He also provides strategic leadership that aligns the RAI Group with the overall strategy of the BAT group of companies (BAT Group).
        p Oberlander has held various roles within the BAT Group since 1989, including marketing director of the Malaysian businesses, regional marketing manager for the Americas, general manager in France and global consumer director. His variety of local, regional and global roles have given him the opportunity to develop a well-rounded, holistic understanding of the BAT Group’s businesses.
        p Oberlander has a bachelor’s degree in statistics from the Escola Nacional de Ciências Estatísticas and a master’s in business administration from the Instituto Brasileiro de Mercado de Capitais in Rio de Janeiro, Brazil.
        p He is an avid reader and fond of soccer, white-water rafting and tennis. He is also a fan of NBA basketball, particularly the Chicago Bulls, with a growing appreciation for American football and the Pittsburgh Steelers.
        p Oberlander has held various roles within the BAT Group since 1989, including marketing director of the Malaysian businesses, regional marketing manager for the Americas, general manager in France and global consumer director. His variety of local, regional and global roles have given him the opportunity to develop a well-rounded, holistic understanding of the BAT Group’s businesses.
        p Oberlander has a bachelor’s degree in statistics from the Escola Nacional de Ciências Estatísticas and a master’s in business administration from the Instituto Brasileiro de Mercado de Capitais in Rio de Janeiro, Brazil.
        p He is an avid reader and fond of soccer, white-water rafting and tennis. He is also a fan of NBA basketball, particularly the Chicago Bulls, with a growing appreciation for American football and the Pittsburgh Steelers.
