article.cards.block-offset-top-and-bottom
  .container-lg
    .row
      .col-12.col-md-4
        section.cards__item.cards__item--with-bg-image.text-center
          figure(style="background-image: url('/images/card-1.jpg')")
          .content
            h3.h4-like Our Brands
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          a.secondary-button.cta(href="#")
            span Our Brands
            +svg('arrow-right')
      .col-12.col-md-4
        section.cards__item.cards__item--with-bg-image.text-center
          figure(style="background-image: url('/images/card-2.jpg')")
          .content
            h3.h4-like The Transformation
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          a.secondary-button.cta(href="#")
            span The Transformation
            +svg('arrow-right')
      .col-12.col-md-4
        section.cards__item.cards__item--with-bg-image.text-center
          figure(style="background-image: url('/images/card-1.jpg')")
          .content
            h3.h4-like Explore Opportunity
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          a.secondary-button.cta(href="#")
            span Explore Opportunity
            +svg('arrow-right')

