+cards([
  {
    title: 'Our Brands',
    background: 'card-1.jpg',
    link: '#',
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.',
  },
  {
    title: 'The Transformation',
    background: 'card-2.jpg',
    link: '#',
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.',
  },
  {
    title: 'Explore Opportunity',
    background: 'card-1.jpg',
    link: '#',
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.',
  },
])
