.footer
  .container
    .row.footer__topside
      .col-md-5.footer__item
        h6 Latest tweets
        .footer__tweet
          .footer__tweet__logo
            +svg('logo-footer')
          .footer__tweet__name @RAI_News
          p We're proud to be part of a group of companies that fosters an environment in which all employees are comfortable being themselves and can realize their full potential at work. 🙌🙌🙌 #PrideMonth #diversitymatters
          a(href="#" target="_blank") https://twitter.com/RAI_News/status…
      .col-md-4.col-lg-3.footer__item
        .dropdown.js-dropdown
          h6 Quick links
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            ul
              li
                a(href="#") Lorem ipsum dolor sit amet
              li
                a(href="#") Dolor sit amet
              li
                a(href="#") Consectetur lorem ip
              li
                a(href="#") Lorem ipsum
              li
                a(href="#") Ipsum dolor sit amet
              li
                a(href="#") Dolor sit amet Copy
              li
                a(href="#") Consectetur lorem ip Copy
              li
                a(href="#") Lorem ipsum Copy
      .col-md-3.offset-lg-1.footer__item
        .dropdown.js-dropdown
          h6 Contact us
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            ul
              li
                a(href="#") Main office
              li
                a(href="#") Investors
              li
                a(href="#") Media
              li
                a(href="#") Sustainability
        .footer__socials
          a(href="#" target="_blank")
            img(src="/images/sprites/svg/twitter.svg" alt="twitter")
          a(href="#" target="_blank")
            img(src="/images/sprites/svg/linkedin.svg" alt="linkedin")
          a(href="#" target="_blank")
            img(src="/images/sprites/svg/youtube.svg" alt="youtube")
          a(href="#" target="_blank")
            img(src="/images/sprites/svg/instagram.svg" alt="instagram")
  .footer__bottomside
    ul
      li
        a(href="#") EEO/AA
      li
        a(href="#") Privacy Policy
      li
        a(href="#") Condition of use
      li
        a(href="#") Sitemap
    .footer__copyright ©Reynolds American Inc. All Rights Reserved
