.footer
  .container
    .row.footer__topside
      .col-md-5.footer__item
        h6 Latest tweets
        //- .footer__tweet
          .footer__tweet__logo
            +svg('logo-footer')
          .footer__tweet__name @RAI_News
          p We're proud to be part of a group of companies that fosters an environment in which all employees are comfortable being themselves and can realize their full potential at work. 🙌🙌🙌 #PrideMonth #diversitymatters
          a(href="#" target="_blank") https://twitter.com/RAI_News/status…
        #twitter-wjs(data-chrome="nofooter noborders" data-height="300")
      .col-md-4.col-lg-3.footer__item
        .dropdown.js-dropdown
          h6 Quick links
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            ul
              li
                a(href="/guiding-princples.html") Guiding Principles
              li
                a(href="/brands.html") Brands
              li
                a(href="/harm-reduction.html") Harm Reduction
              li
                a(href="/youth-prevention.html") Youth Prevention
              li
                a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
              li
                a(href="/why-rai.html") Why the RAI Group?
      .col-md-3.offset-lg-1.footer__item
        .dropdown.js-dropdown
          h6 Contact us
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            ul
              li
                a(href="/contacts.html") Main office
              li
                a(href="/contacts.html") Media
        .footer__socials
          a(href="https://www.facebook.com/ReynoldsAmericanInc" target="_blank")
            img(src="/images/sprites/svg/facebook.svg" alt="twitter")
          a(href="https://twitter.com/RAI_News" target="_blank")
            img(src="/images/sprites/svg/twitter.svg" alt="twitter")
          a(href="https://www.linkedin.com/company/rj-reynolds/" target="_blank")
            img(src="/images/sprites/svg/linkedin.svg" alt="linkedin")
          a(href="https://www.youtube.com/channel/UCZ90-g8v7voyY2W9SMkpX2Q" target="_blank")
            img(src="/images/sprites/svg/youtube.svg" alt="youtube")
          a(href="https://www.instagram.com/reynoldsamericaninc" target="_blank")
            img(src="/images/sprites/svg/instagram.svg" alt="instagram")
  .footer__bottomside
    ul
      li
        a(href="/eeo-aa.html") EEO/AA
      li
        a(href="/privacy-policy.html") Policy & Privacy Statements
      li
        a(href="/ca-privacy-notice.html") CA Privacy Notice
      li
        a(href="/sitemap.html") Site Map
    .footer__copyright ©Reynolds American Inc. All Rights Reserved
