article.goal.block-offset-top-and-bottom
  .container-small
    h1.goal__title.h2-like.text-center Diverse supplier spent
    p.text-center Historically, we measured performance toward supplier diversity goals using data from suppliers that self-report a diversity status or are third-party certified. In 2016, we completed a validation effort to identify third-party certified suppliers, enabling separate tracking and reporting on suppliers with third-party certifications.
    .goal__icon(style="background-image: url('./images/goal.png')")
      .goal__icon__subtitle 2020 Goal
      .goal__icon__title 6-8%
