.header
  .header__topside.container-max
  .header__content.container-max
    button.header__burger
      +svg('burger')
    button.header__close
      +svg('close')
    a.header__logo(href="/")
      +svg('logo')
    .header__rightside
      ul.header__nav
        li.dropdown.js-dropdown
          span About us
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            .dropdown-content__container
              img(src="/images/nav/1.jpg" alt="")
              ul
                li
                  a(href="/leadership.html") Leadership
                li
                  a(href="/ethics-and-compliance.html") Ethics and Compliance
                li.is-active
                  a(href="/guiding-princples.html") Guiding Principles
        li
          a(href="/brands.html") Brands
        li.dropdown.js-dropdown
          span How we innovate
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            .dropdown-content__container
              img(src="/images/nav/2.jpg" alt="")
              ul
                li
                  a(href="/transformation-journey.html") Transformation Journey
                li
                  a(href="/harm-reduction.html") Harm Reduction
                li
                  a(href="/consumers.html") Consumers
        li.dropdown.js-dropdown
          span Our responsibility
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            .dropdown-content__container
              img(src="/images/nav/3.jpg" alt="")
              ul
                li
                  a(href="/youth-prevention.html") Youth Prevention
                li
                  a(href="/community-engagement.html") Community Engagement
                //- li
                  a(href="javascript:void(0)") Sustainability
                li
                  a(href="/engagement-and-advocacy.html") Engagement and Advocacy
                li
                  a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
                li
                  a(href="/supplier-diversity.html") Supplier Diversity
        li.dropdown.js-dropdown
          span Careers
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            .dropdown-content__container
              img(src="/images/nav/4.jpg" alt="")
              ul
                li
                  a(href="/why-rai.html") Why the RAI Group?
                li
                  a(href="/career-opportunities.html") Career Opportunities
                li
                  a(href="/rai-careers.html") Search and Apply
        li.dropdown.js-dropdown
          span Media
          button.dropdown-button.js-dropdown-button
          .dropdown-content.js-dropdown-content
            .dropdown-content__container
              img(src="/images/nav/5.jpg" alt="")
              ul
                li
                  a(href="/news-and-features.html") News and Features
                li
                  a(href="/press-releases.html") News Releases
                li
                  a(href="/resources.html") Resources
      //- button.header__search-button
        +svg('search')
    .header__search
      form
        input(type="text" placeholder="Search Keyword")
        button(type="submit")
          +svg('search')
