.container-lg.block-offset-top-and-bottom
  .row
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Programs and Priorities
        .information-dropdown__content.js-dropdown-content
          p Reynolds American and its operating companies continue to transform the tobacco industry by:
          .information-dropdown__description
            p Conducting research and evaluating the growing body of scientific evidence to better understand the relative risks of different tobacco products;
            p Engaging with legislators, regulators and other stakeholders with a goal of having the elements of tobacco harm reduction reflected in future legislation and regulation; and
            p Creating new and innovative products to meet the changing expectations of adult tobacco consumers.
          a.link-arrow(href="#")
            span Sound Science
            +svg('arrow-right')
          p Reynolds American’s subsidiaries are adding to a growing body of science demonstrating that smokeless tobacco products present less risk than cigarettes and that other non-combustible tobacco products that are much newer to the market, such as vapor products, may present significantly less risk than cigarettes. The varying risks presented by these products can be viewed as a risk continuum. Misunderstandings of this risk continuum create barriers to millions of smokers living better lives — smoke-free.
          a.link-arrow(href="#")
            span Legislative & Regulatory Priorities
            +svg('arrow-right')
          p To realize the potential of tobacco harm reduction, it is essential that Reynolds American and its subsidiaries work with policymakers to address concerns about non-combustible tobacco products.
          a.link-arrow(href="#")
            span Product Innovation
            +svg('arrow-right')
          p A growing body of scientific research demonstrates a continuum of risk associated with tobacco products. RAI’s operating companies are working to innovate and introduce new products with the potential to reduce these risks, while continuing to meet the changing expectations of adult tobacco consumers. This approach begins with the principle that nothing is to be done or added to products that increases their inherent risks.
