.block-offset-top
  .message.block-offset-bottom
    .message__bg(style="background-color: #f9fcfe;")
    .message__content.container-lg
      .message__avatar
        img(src="/images/president.png" alt="")
      h2.h2-like.text-center.message__title Message from our President & CEO
      .row
        .col-12.col-lg-6
          p A major goal of this site is to provide tools and information that will help all employees better understand the RAI Standards of Business Conduct (SoBC) and related guidelines and policies. Equally important, the site is designed to emphasize the responsibility each of us has to abide by this SoBC – doing the right thing is essential to the well-being of all of our companies.
          p I urge you to take the time to navigate around this site to become familiar with what is offered. In addition to the SoBC, this site includes ethics and compliance related articles, links to related policies, as well as information regarding Speak Up hotline and portal – your resource to report violations of the SoBC with the option to remain anonymous.
        .col-12.col-lg-6
          p This website is also where all employees can access required ethics and compliance training modules, and the annual certification/sign-off of compliance with the SoBC. RAI Group employees will receive instructions at the appropriate time during the year that will alert you to the designated timeframe for you to fulfill these requirements.
          p Reynolds American and its subsidiaries have been and will continue to be committed to conducting our business in an ethical, lawful and responsible manner. I know you share this commitment as well and I encourage you to visit this website often.
        .col-12.col-lg-6.offset-lg-6
          .message__author
            | #[span.h5-like Ricardo Oberlander] President and CEO of Reynolds American Inc.
