article.timeline.block-offset-top-and-bottom
  h1.h2-like.text-center Timeline
  .container-lg
    .timeline__years
      .timeline__years__item.js-timeline-year.is-active(data-year="1760-1874")
        span.h6-like 1760-1874
      .timeline__years__item.js-timeline-year(data-year="1875-1912")
        span.h6-like 1875-1912
      .timeline__years__item.js-timeline-year(data-year="1913-1949")
        span.h6-like 1913-1949
      .timeline__years__item.js-timeline-year(data-year="1950-1998")
        span.h6-like 1950-1998
      .timeline__years__item.js-timeline-year(data-year="1999-2003")
        span.h6-like 1999-2003
      .timeline__years__item.js-timeline-year(data-year="2004-2011")
        span.h6-like 2004-2011
      .timeline__years__item.js-timeline-year(data-year="2012-2019")
        span.h6-like 2012-2019
    .timeline__items
      .timeline__item.js-timeline-content.is-active(data-year="1760-1874")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1760
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1800
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1811
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="1875-1912")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1875
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1891
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1894
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="1913-1949")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1913
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1930
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1949
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="1950-1998")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1950
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1978
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1998
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="1999-2003")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1999
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2001
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2003
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="2004-2011")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2004
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2007
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2011
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="2012-2019")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-1.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2012
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company, now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) Although Winston had only a few hundred residents and no paved roads, RJRT saw two potential keys to business success: The town was a production center for flue-cured tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, RJRT anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends, marketing and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-2.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2015
          .timeline__item__content__text
            p Corporate responsibility has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/timeline-3.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2019
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
