article.timeline.block-offset-top-and-bottom
  h1.h2-like.text-center Timeline
  .container-lg
    .timeline__years
      .timeline__years__item.js-timeline-year.is-active(data-year="1760-1874")
        span.h6-like 1760-1874
      .timeline__years__item.js-timeline-year(data-year="1875-1912")
        span.h6-like 1875-1912
      .timeline__years__item.js-timeline-year(data-year="1913-1949")
        span.h6-like 1913-1949
      .timeline__years__item.js-timeline-year(data-year="1950-1998")
        span.h6-like 1950-1998
      .timeline__years__item.js-timeline-year(data-year="1999-2003")
        span.h6-like 1999-2003
      .timeline__years__item.js-timeline-year(data-year="2004-2011")
        span.h6-like 2004-2011
      .timeline__years__item.js-timeline-year(data-year="2012-2019")
        span.h6-like 2012-2019
    .timeline__items
      .timeline__item.js-timeline-content.is-active(data-year="1760-1874")
        .timeline__item__content
          .timeline__item__content__image
            //- img(src="/images/transformation-journey/1760.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1760
          .timeline__item__content__text
            p Lorillard, which was acquired by Reynolds American in 2015, was America’s first tobacco company — founded in New York City in 1760 by a young French immigrant, Pierre Abraham Lorillard. Snuff was his specialty, and his sons, Peter and George, eventually took over the business. It was in the 1900s that the company started producing cigarettes, including the introduction of Old Gold in 1926, Kent in 1952 and Newport menthol in 1957. Newport would go on to become Lorillard’s flagship brand and an industry leader.
      .timeline__item.js-timeline-content(data-year="1875-1912")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1875.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1875
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Company (RJRT), now RAI’s largest operating company, was founded in 1875, when 25-year-old Richard Joshua Reynolds started a chewing-tobacco manufacturing operation in the town of Winston, North Carolina. (Winston would later merge with the nearby village of Salem, creating the city known today as Winston-Salem.) AAlthough Winston had only a few hundred residents and no paved roads, Reynolds saw two potential keys to business success: The town was a production center for tobacco leaf, and it had a newly built railroad line. After starting the chewing-tobacco business, Reynolds anticipated the growth in popularity of smoking tobaccos and introduced pipe tobaccos. He then went on to revolutionize U.S. cigarette blends and packaging.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1891.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1891
          .timeline__item__content__text
            p Community involvement has always been ingrained in RJRT. Richard Joshua Reynolds gave generously to the community where he built his business. In 1891, he gave his first documented gift: $500 (worth almost $14,000 in today’s dollars) to help establish the Slater Industrial School, which later became Winston-Salem State University (WSSU). Today, WSSU is a historically black university and part of the University of North Carolina system.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1894.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1894
          .timeline__item__content__text
            p A new tobacco company, Brown & Williamson, began manufacturing in Winston, North Carolina, in 1894. The company had its origins in Brown Brothers Tobacco Manufacturing Co., which was the largest tobacco company in nearby Mocksville in the 1870s. It was operated by George Brown and his brother, Rufus, who were sons of a tobacco merchant. In 1893, George Brown formed a new partnership with his brother-in-law, Robert Williamson, whose father owned two tobacco factories. The partnership took over Robert’s father’s business, and this became Brown & Williamson.
      .timeline__item.js-timeline-content(data-year="1913-1949")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1913.png" alt="")
          .timeline__item__content__year
            span.h2-like 1913
          .timeline__item__content__text
            p RJRT introduced Camel cigarettes in 1913, containing a blend of several different types of tobacco that would come to be called "the American blend." Camel became the first nationally popular cigarette in the United States. The 20-cigarette pack was introduced by RJRT in 1913, and in 1915 the company introduced the one-piece, 10-pack carton.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1910s.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1910s
          .timeline__item__content__text
            p  Richard Joshua Reynolds’ wife, Katharine Smith Reynolds, encouraged him to try a modern fundraising technique – a challenge grant. Reynolds promised to match all money raised for the creation of a YWCA facility dollar-for-dollar. His personal matching gift was $5,000 yet the combined funds still weren’t enough to meet construction costs. So, in 1917, RJRT voted to give its first major corporate grant of $10,000 to pay off the rest of the building debt.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1927.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1927
          .timeline__item__content__text
            p On March 24, 1927, it was announced that Brown & Williamson was being acquired by London-based British American Tobacco p.l.c. (BAT) and reorganized as Brown & Williamson Tobacco Corporation. To expand its manufacturing capacity, construction began on a new Brown & Williamson factory in Louisville, Kentucky. The company’s Winston-Salem office personnel relocated to Louisville two years later. Meanwhile, Brown & Williamson’s first national brand, Raleigh, was launched in 1928.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1930s.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1930s
          .timeline__item__content__text
            p In 1931, RJRT became the first company to package its cigarettes with a moisture-proof, sealed cellophane outer-wrap to preserve freshness. In 1933, Brown & Williamson launched KOOL cigarettes, the first U.S. menthol brand to gain nationwide distribution, and in 1936 it introduced Viceroy as the industry’s first cork-tipped filter product.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1935.png" alt="")
          .timeline__item__content__year
            span.h2-like 1935
          .timeline__item__content__text
            p Bowman Gray, who served as president of RJRT in 1924 and then chairman of the board of directors in 1932, passed away in 1935 and left $750,000-worth of company stock to be used to benefit the community. His wife and children decided to donate it to a medical school willing to move to Winston-Salem. Wake Forest College agreed to move its two-year medical school from Wake Forest, North Carolina, to Winston-Salem and to expand the curriculum to a four-year program, partnering with N.C. Baptist Hospital.
      .timeline__item.js-timeline-content(data-year="1950-1998")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1950.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1950s
          .timeline__item__content__text
            p In 1954, RJRT introduced Winston,  a filter cigarette which achieved success in the marketplace. The company introduced Salem, the first filter-tipped menthol cigarette, in 1956.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1956.png" alt="")
          .timeline__item__content__year
            span.h2-like 1956
          .timeline__item__content__text
            p Years after Bowman Gray’s family donated money towards Wake Forest College’s medical school moving to Winston-Salem, in 1956, members of the Reynolds family led efforts to bring the rest of Wake Forest College to the city. The family donated 350 acres of the grounds of the Reynolda estate to the school and the Z. Smith Reynolds Foundation gave $350,000 annually to support the move. Today, Wake Forest University, the School of Medicine and the Wake Forest Baptist Medical Center are key drivers of the region’s economy and are recognized nationally.
        .timeline__item__content
          .timeline__item__content__image
            //- img(src="/images/transformation-journey/1960.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1960
          .timeline__item__content__text
            p In 1960, RJRT set aside $25,000 annually for public-school teachers of Winston-Salem and Forsyth County to use for summer travel and study.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1970.png" alt="")
          .timeline__item__content__year
            span.h2-like 1970
          .timeline__item__content__text
            p R.J. Reynolds Industries Inc. was formed as the new parent company of RJRT in 1970, following RJRT’s diversification into foods and other non-tobacco businesses in the 1960s.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1985.png" alt="")
          .timeline__item__content__year
            span.h2-like 1985
          .timeline__item__content__text
            p Reynolds Industries acquired Nabisco Brands in September 1985, and the following year the parent company was re-named RJR Nabisco, Inc. In November 1988, RJR Nabisco entered into a merger agreement with Kohlberg Kravis Roberts & Co. (KKR) for the acquisition of RJR Nabisco by KKR. The merger was completed in April 1989.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1991.png" alt="")
          .timeline__item__content__year
            span.h2-like 1991
          .timeline__item__content__text
            p A youth tobacco prevention program, #[a(href="https://www.rightdecisionsrightnow.com/" target="_blank") Right Decisions Right Now: Be Tobacco Free] (RDRN), was started by RJRT in 1991. RDRN is an easily accessed program for use by middle-school educators, parents and community groups. It is an evidence-based program that was independently developed and seeks to equip youth with information and skills they need to make healthy lifestyle decisions, including not using tobacco products.
      .timeline__item.js-timeline-content(data-year="1999-2003")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/1999.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 1999
          .timeline__item__content__text
            p Prior to 1999, RJR Nabisco was a subsidiary of RJR Nabisco Holdings Corp. (RJRN). In 1999, following the sale of the company's international tobacco business to Japan Tobacco, Inc., the remaining tobacco and food businesses were separated, and RJRN was renamed Nabisco Group Holdings Corp. (NGH). In June 1999, the domestic tobacco business was spun off from RJRN as R.J. Reynolds Tobacco Holdings, Inc., which became a separate publicly traded company.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2002.png" alt="")
          .timeline__item__content__year
            span.h2-like 2002
          .timeline__item__content__text
            p R.J. Reynolds Tobacco Holdings acquired Santa Fe Natural Tobacco Company, Inc. in January 2002. Santa Fe, which was formed in 1982, manufactures and markets Natural American Spirit products in the United States.
      .timeline__item.js-timeline-content(data-year="2004-2011")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2004.png" alt="")
          .timeline__item__content__year
            span.h2-like 2004
          .timeline__item__content__text
            p On July 30, 2004, the newly created Reynolds American Inc. (RAI) became the parent company of the merged U.S. operations of RJRT and Brown & Williamson, the second- and third-largest tobacco companies in the U.S. RAI also became the parent company of Santa Fe Natural Tobacco and Lane Limited, which it sold to Scandinavian Tobacco Group A/S in March 2011. As part of the merger with Brown & Williamson, R.J. Reynolds gained the Pall Mall, Lucky Strike and KOOL cigarette brands.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2005.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2005
          .timeline__item__content__text
            p Throughout the years, RAI and its foundations have continued to partner with and support Winston-Salem State University. In 2005, the R.J. Reynolds Foundation contributed $1.25 million to endow the university with a professorship and a new scholarship fund.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2006.png" alt="")
          .timeline__item__content__year
            span.h2-like 2006
          .timeline__item__content__text
            p In May 2006, RAI completed its acquisition of Conwood Company, the second-largest U.S. smokeless tobacco company with its two key brands, Grizzly and Kodiak. Conwood changed its name to American Snuff Company, LLC, on Jan. 1, 2010.
      .timeline__item.js-timeline-content(data-year="2012-2019")
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2010s.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2010s
          .timeline__item__content__text
            p R.J. Reynolds Vapor Company was formed in 2012, and in June 2013, the company announced that its Vuse Digital Vapor Cigarettes would be sold in retail outlets throughout Colorado. Vuse expanded nationally in 2014.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2012.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2012
          .timeline__item__content__text
            p In 2012, the Boy Scouts of America created a new patch, earned by scouts who complete the organization’s Trail of Courage program and take the Right Decisions Right Now: Be Tobacco-Free (RDRN) pledge. The Trail of Courage program started at the Philmont Scout Ranch in New Mexico and has since expanded to troops in Nashville, Tennessee, and Raleigh, North Carolina.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2015.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2015
          .timeline__item__content__text
            p RAI acquired Lorillard, Inc. in June 2015, and that company’s menthol cigarette brand, Newport, was added to the portfolio of RJRT. At the same time, RJRT and Lorillard also divested certain brands, including the KOOL, Winston, Salem and Maverick cigarette brands and blu e-cigarettes, to Imperial Tobacco Group PLC’s ITG Brands, LLC subsidiary.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2017.png" alt="")
          .timeline__item__content__year
            span.h2-like 2017
          .timeline__item__content__text
            p Reynolds American Inc. became an indirect, wholly owned subsidiary of British American Tobacco p.l.c.
            p RJRT finalized the donation of a significant portion of the Whitaker Park manufacturing plant and certain surrounding properties to local redevelopment group WPDA, a nonprofit corporation created for economic and redevelopment purposes. The donation included a 70,000-square-foot laboratory building on approximately four acres of land, as well as an additional 120 acres of prime commercial and industrial land, along with buildings totaling approximately 1.7 million square feet.
        .timeline__item__content
          .timeline__item__content__image
            img(src="/images/transformation-journey/2019.jpg" alt="")
          .timeline__item__content__year
            span.h2-like 2019
          .timeline__item__content__text
            p R.J Reynolds Vapor Company nationally expanded its portfolio of innovative, next-generation products, adding REVEL nicotine lozenges and VELO nicotine pouches to its existing line-up of Vuse vapor products.
