.call-out.call-out--long.block-offset-bottom
  .call-out__image(style="background-image: url('/images/areas-of-opportunity/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Areas of Opportunity
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Areas of Opportunity
    ul.call-out__list.js-dropdown-content
      li
        a(href="/why-rai.html") Why the RAI Group?
      li.is-active
        a(href="/areas-of-opportunity.html") Areas of Opportunity
      li
        a(href="https://careers.reynoldsamerican.com/" target="_blank") Search and Apply

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h3.h3-like Internship
        .border-left
          p Interns discover what it means to work at a global level. They’re exposed not only to the real-life challenges of our businesses, but they help us solve these challenges. Many have built long-term careers here, even rising to become Executive Vice Presidents. An internship with any of our companies is much more than a summer learning experience and definitely not the typical “copies and coffee” student gig. With us, an internship will be a leading professional experience for you, where your time, contribution, insights and energy are valued by all the teams of which you’ll be a part. You’ll have the opportunity to interact with skilled experts and mentors across our organization. You’ll build relationships at every level. You’ll participate every day in new ways while having fun. You’ll be challenged, and in return, you’ll receive career development support and outstanding experience at an innovative and transformative global company.
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-1.jpg" srcset="/images/areas-of-opportunity/image-1@2x.jpg 2x" alt="")

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-2.jpg" srcset="/images/areas-of-opportunity/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h3.h3-like Global Graduate
        .border-left
          p The Global Graduate Program is an entry-level opportunity designed for recent graduates who want to fast-track their career globally. Being that we’re a part of the British American Tobacco group of companies, global graduates gain exposure to career opportunities beyond the United States as well as build a network of colleagues that span the globe. Whether you join us as a global graduate in Marketing, Human Resources, Finance or Operations, you’ll experience a fast-paced and exciting start to your career. Through exposure to our business, thoughtful mentorship, and on-the-job development opportunities, the GGP prepares you for a management role within the organization, with international career opportunities across BAT’s footprint.

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h3.h3-like Commercial
        .border-left
          h6.h6-like Trade Marketing
          p Trade Marketing leads the way for our operating companies’ iconic brands and revolutionary products to be successful in the market by driving brand development strategies across our US footprint. The trade marketing team is out-front, connecting with adult tobacco consumers, and working with retail partners.
          h6.h6-like Marketing Intelligence & Insights
          p Marketing Intelligence & Insights provides consumer insights and market research to shape marketing strategy and drive innovation.
          h6.h6-like Consumer Marketing
          p Our consumer marketing team works on the operating companies’ iconic brands while also building brands that are revolutionizing the tobacco industry.
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-3.jpg" srcset="/images/areas-of-opportunity/image-3@2x.jpg 2x" alt="")

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-4.jpg" srcset="/images/areas-of-opportunity/image-4@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h3.h3-like Experienced
        .border-left
          h6.h6-like Finance
          p A core part of our business, Finance plays an integral role in shaping the future of the organization.
          h6.h6-like Human Resources
          p Our people are among our greatest assets, and the HR team works to ensure that every employee knows that they are a valued member of our team.
          h6.h6-like Information Technology
          p Information Technology aligns our digital capabilities with our business goals.
          h6.h6-like Legal & External Affairs
          p The Legal & External Affairs team – LEX for short – secures our companies’ brands, assets and people, now and in the future, through active engagement with internal and external stakeholders.

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h3.h3-like Operations
        .border-left
          p Operations turns our vision of transforming tobacco into reality by producing the products that exemplify this transformation. Every day, our manufacturing teams make sure the products in our operating companies’ portfolios meet the highest standards of quality.
          p Operations is ideal for people who like a fast-paced, team environment. They are problem solvers and innovators driven to create ever-better ways of sourcing, distributing and manufacturing our companies’ products. Operations associates have the flexibility to adapt and the technical aptitude to consistently deliver operational excellence.
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-5.jpg" srcset="/images/areas-of-opportunity/image-5@2x.jpg 2x" alt="")

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/areas-of-opportunity/image-6.jpg" srcset="/images/areas-of-opportunity/image-6@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h3.h3-like Research & Development
        .border-left
          p Research & Development (R&D) is at the forefront of our vision, applying science and study to guide the commercialization of products that respond to and revolutionize the ways adult tobacco consumers enjoy tobacco.
          p R&D teams are future-focused game-changers motivated by the next big thing. They love to innovate and challenge convention by thinking big, listening hard, and asking, “what’s next?” If discovering the science behind a solution drives you, then R&D is a place where you can bring your skills and abilities to flourish in a progressive, meaningful way.

.banner.banner--small.theme-light(style="background-image: url('/images/areas-of-opportunity/banner-2.jpg')")
  .container
    .row.content.align-items-center
      .col-12
        h2.h1-like.text-center Like what you see?
        a.button.centered.uppercase.cta(href="https://careers.reynoldsamerican.com/" target="_blank") Search & Apply
