.call-out.call-out--short
  .call-out__image(style="background-image: url('/images/brands/brands-banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Brands

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/brands/brands-image.png" alt="")
      .col-lg-6.text-container
        h1.h3-like Reynolds American Inc. (RAI) – an indirect, wholly owned subsidiary of British American Tobacco p.l.c. – is the U.S. parent company of the following companies.  These companies may also be referred to as the RAI Group.

h2.h2-like.text-centered-and-decorated.mobile-offset-top-and-bottom Our Operating Companies

article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-start
      .col-lg-6.order-lg-2.image-container
        .image-and-button
          img.block-offset-bottom(src="/images/brands/rjreynolds.png" srcset="/images/brands/rjreynolds@2x.png 2x")
          a.secondary-button.cta.small(href="https://www.rjrvapor.com" target="_blank")
            span View site
            +svg('arrow-right')
      .col-lg-6.order-lg-1.text-container
        h1.h3-like R.J. Reynolds Vapor Company
        .border-left
          p RJRV offers innovative products for adult tobacco consumers’ evolving preferences. RJRV’s product portfolio reflects a commitment to leading the charge on transforming tobacco by developing a diverse portfolio of responsibly marketed, innovative and enjoyable products for adult tobacco consumers.
          p RJRV’s next generation product portfolio consists of three brands spanning two categories:
          ul.ul-like.li-full
            li RJRV’s vapor brand, VUSE, is an industry-leading brand that leverages innovative technologies to deliver a range of vapor products that meet the evolving preferences of adult tobacco consumers. VUSE’s portfolio includes four products in a range of formats and nicotine strengths to provide options for adult smokers seeking alternatives to combustible cigarettes.
            li RJRV’s modern oral brands reflect a deep understanding of adult tobacco consumers’ interest in a range of product options to suit their modern lifestyles. RJRV’s modern oral products are VELO nicotine pouches and REVEL dissolvable nicotine lozenges.
        .text-logo.d-flex.justify-content-between.align-items-center.items-3
          img(src="/images/brands/brands-logo-1.png" srcset="/images/brands/brands-logo-1@2x.png 2x")
          img(src="/images/brands/brands-logo-2.png" srcset="/images/brands/brands-logo-2@2x.png 2x")
          img(src="/images/brands/brands-logo-3.png" srcset="/images/brands/brands-logo-3@2x.png 2x")

article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom
  .container-lg
    .row.align-items-start
      .col-lg-6.image-container
        .image-and-button
          img.block-offset-bottom(src="/images/brands/rjtabaco.png" srcset="/images/brands/rjtabaco@2x.png 2x")
      .col-lg-6.text-container
        h1.h3-like R.J. Reynolds Tobacco Company
        .border-left
          p RJRT is the second-largest U.S. tobacco company. RJRTs’ cigarette brands constitute about one third of cigarette sales in the United States. The company offers products in all segments of the cigarette market and makes many of the nation’s best-selling cigarette brands, including Newport, Camel and Pall Mall.
          p RJRT also distributes Camel Snus, a modern, smoke-free tobacco product.
        .text-logo.d-flex.justify-content-between.align-items-center.items-4
          img(src="/images/brands/brands-logo-4.png" srcset="/images/brands/brands-logo-4@2x.png 2x")
          img(src="/images/brands/brands-logo-5.png" srcset="/images/brands/brands-logo-5@2x.png 2x")
          img(src="/images/brands/brands-logo-6.png" srcset="/images/brands/brands-logo-6@2x.png 2x")
          img(src="/images/brands/brands-logo-7.png" srcset="/images/brands/brands-logo-7@2x.png 2x")

article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-start
      .col-lg-6.order-lg-2.image-container
        .image-and-button
          img.block-offset-bottom(src="/images/brands/snuff.png" srcset="/images/brands/snuff@2x.png 2x")
          a.secondary-button.cta.small(href="https://www.americansnuffco.com" target="_blank")
            span View site
            +svg('arrow-right')
      .col-lg-6.order-lg-1.text-container
        h1.h3-like American Snuff Company, LLC
        .border-left
          p ASC traces its lineage back to 1782. Among its many achievements, ASC is the proud owner of the Garrett Scotch Snuff trademark—the seventh trademark issued by the U.S. Patent and Trademark Office in 1870—and the only one that has remained in continuous production in the U.S.
          p ASC, headquartered in Memphis, Tennessee, has been the fastest growing smokeless tobacco product manufacturer over the past decade, with Grizzly, its flagship brand, becoming one of the best-selling brands in the category. At various points in its history, ASC has held the number one brand of dry snuff, loose leaf, plug, twist, moist snuff and moist snuff pouch.
        .text-logo.d-flex.align-items-center.items-2
          img(src="/images/brands/brands-logo-8.png" srcset="/images/brands/brands-logo-8@2x.png 2x")
          img(src="/images/brands/brands-logo-9.png" srcset="/images/brands/brands-logo-9@2x.png 2x")

article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom
  .container-lg
    .row.align-items-start
      .col-lg-6.image-container
        .image-and-button
          img.block-offset-bottom(src="/images/brands/sfntc.png" srcset="/images/brands/sfntc@2x.png 2x")
          a.secondary-button.cta.small(href="https://www.sfntc.com/welcome" target="_blank")
            span View site
            +svg('arrow-right')
      .col-lg-6.text-container
        h1.h3-like Santa Fe Natural Tobacco Company, Inc.
        .border-left
          p SFNTC is the manufacturer and marketer of Natural American Spirit cigarettes and roll-your-own tobacco products. The Natural American Spirit brand consists of fourteen cigarette styles and four roll-your-own styles.
          p SFNTC blenders create its cigarette and roll-your-own tobacco blends using two ingredients: whole-leaf tobacco and water. Natural American Spirit also makes certain styles of Natural American Spirit cigarettes and roll-your-own tobacco using U.S.-grown, certified-organic tobacco.
        .text-logo.d-flex.justify-content-between.align-items-center.items-4
          img(src="/images/brands/brands-logo-10.png" srcset="/images/brands/brands-logo-10@2x.png 2x")

article.block-image-and-text.block-heading-and-text-logos.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-start
      .col-lg-6.order-lg-2.image-container
        .image-and-button
          img.block-offset-bottom(src="/images/brands/kbp.png" srcset="/images/brands/kbp@2x.png 2x")
          a.secondary-button.cta.small(href="https://www.kentuckybioprocessing.com/" target="_blank")
            span View site
            +svg('arrow-right')
      .col-lg-6.order-lg-1.text-container
        h1.h3-like Kentucky BioProcessing, Inc.
        .border-left
          p KBP is a world leader in developing and employing processes to manufacture high-value proteins using novel plant-based technology. KBP’s technologies and the processes it develops make it possible to use the biochemical processes of tobacco plants to produce specific proteins more efficiently and effectively than they can be produced using other biological systems.
