.block-offset-top-and-bottom
  .block-offset-top-and-bottom
    h1.h3-like.text-center CA Privacy Notice
    .container-small
      h5.text-headline Notice at Collection
      p Last updated: January 1, 2020
      p Pursuant to Section 1798.100(b) and Section 1798.145(g)(3) of the California Civil Code, if you are a California resident and either a job applicant, employee, owner, director, officer, medical staff member or contractor at any of the Reynolds American Inc. group of companies, then you have a right to know, at or before the point of collection, what categories of personal information will be collected and the purposes for which the categories of personal information will be used.
      p The table below outlines this information collected and used by Reynolds American Inc. group of companies.  For any questions or comments about this Notice, please contact the HR Service Team at #[a(href="tel:336-741-0400") 336-741-0400], toll-free at #[a(href="tel:844-741-0400") 844-741-0400], or at #[a(href="mailto:hrserviceteam@reynoldsamerican.com") hrserviceteam@reynoldsamerican.com].
      .table-container
        .table.row
          .col-6
            h5.h5-like Category of personal information
          .col-6
            h5.h5-like Business or commercial purpose for which it was collected
          .col-6
            p #[b Identifiers] (such as name, date of birth, driver’s license number, Social Security number, telephone number, mailing address, email address, internet protocol address, and unique number assigned to identify the device used to access the website)
          .col-6
            p For our operational purposes, performing services including maintaining or servicing accounts, verifying information, providing analytic services, detecting security incidents, protecting against malicious, deceptive, fraudulent or illegal activity, prosecuting those responsible for that activity, to communicate with you, to manage you and our workforce (including recruitment, appraisals, performance management, managing sick leave and providing employment references)
          .col-6
            p #[b Categories of personal information outlined in Section 1798.80(e)] (such as name, signature, social security number, physical characteristics or description, address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information)
          .col-6
            p For our operational purposes, performing services including maintaining or servicing accounts, verifying information, providing analytic services, detecting security incidents, protecting against malicious, deceptive, fraudulent or illegal activity, prosecuting those responsible for that activity, to communicate with you, to manage you and our workforce (including recruitment, appraisals, performance management, managing sick leave and providing employment references)
          .col-6
            p #[b Characteristics of protected classifications under California or federal law] (such as age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information))
          .col-6
            p For our operational purposes, performing services including maintaining or servicing accounts, verifying information
          .col-6
            p #[b Internet or other electronic network activity] (such as browsing history, browser type and version, search history, and other information regarding a consumer’s interaction with an internet website, including screen resolution, monitor color depth, operating system, JavaScript version, connection speed, device type used to access the brand website (i.e., computer or mobile device), application version, click path taken through the brand website, and other publicly available information)
          .col-6
            p For our operational purposes, performing services on behalf of the business including providing advertising or marketing services and providing analytic services; auditing related to a current interaction with the consumer and concurrent transactions; and auditing compliance with this specification and other standards
          .col-6
            p #[b Commercial information,] including product reviews, quality surveys, products or services purchases, obtained, or considered
          .col-6
            p For our operational purposes, performing services and providing analytic services, undertaking activities to verify or maintain the quality or safety of a service or device that is owned, manufactured, manufactured for, or controlled by the business, and to improve, upgrade, or enhance the service or device that is owned, manufactured, manufactured for, or controlled by the business
          .col-6
            p #[b Geolocation data]
          .col-6
            p For our operational purposes, performing services and providing analytic services
          .col-6
            p #[b Sensory data] (such as audio, electronic, visual, thermal, olfactory or similar information)
          .col-6
            p For our operational purposes, performing services including maintaining or servicing accounts, verifying information, providing analytic services, detecting security incidents, protecting against malicious, deceptive, fraudulent, or illegal activity, and prosecuting those responsible for that activity
          .col-6
            p #[b Professional or employment-related information] (such as list examples like education history and employment information including your employment history, language skills and professional qualifications, other information included on your resume or CV)
          .col-6
            p For our operational purposes, performing services including maintaining or servicing accounts, verifying information, providing analytic services, detecting security incidents, protecting against malicious, deceptive, fraudulent or illegal activity, prosecuting those responsible for that activity
