.article.block-offset-top-and-bottom
  .container-max
    a.back(href="/community-engagement.html") < Community Engagement
  .container-small
    h1.h3-like.text-center Care, compassion and community commitment drive SFNTC’s Oxford employees
    .article__image-date
      img(src="/images/community-engagement/image-3.jpg" srcset="/images/community-engagement/image-3@2x.jpg 2x" alt="")
      //- span 19 Oct 2019
    p Hundreds of North Carolinians who live in and around Granville County are leading better lives thanks to the care, compassion and community commitment of the men and women at Santa Fe Natural Tobacco Company’s (SFNTC) facility in Oxford, N.C.
    p “Neighbors helping neighbors is what it’s all about,” said Ann Squires, an HR business partner at Oxford.
    p “Here in Oxford, we don’t just talk the talk; we also walk the walk.”
    p The folks in Oxford are helping and connecting with many of their neighbors, whether it’s:
    ul.ul-like.li-thin
      li Providing, preparing and packaging meals for shut-ins through the Penn Avenue Church Soup Kitchen;
      li Offering financial support and helping hands to implement on-site projects at the local Boys &amp; Girls Club;
      li Giving the Granville County Beekeepers Association access to the SFNTC Apiary to provide education and hands-on training to local beekeepers; or
      li Donating money to fund scholarships for deserving students at Vance Granville Community College.
    p SFNTC also supports a program that helps the hungry and reinforces the company’s long-standing commitment to protecting the planet by promoting and supporting sustainable agriculture. Since 2013, SFNTC has donated $2,000-worth of fresh organic vegetables each week to Area Congregations in Ministry (ACIM), a non-denominational organization that runs The Food Bank in Granville County.
    p ACIM works with Eastern Carolina Organics (ECO), a local cooperative that distributes fresh food produced by local farmers using Earth-friendly farming practices.
    //- .article__share
      h6.h6-like Share on:
      .article__share__items
        a(href="#")
          img(src="/images/twitter.svg" alt="")
        a(href="#")
          img(src="/images/linkedin.svg" alt="")
        a(href="#")
          img(src="/images/mail.svg" alt="")
    //- .article__another
      a(href="#")
        div(style="background-image: url('/images/article-prev.png')")
          +svg('article-prev')
        h5.h5-like.for-tablet-and-desktop Previous story
        h5.h5-like.for-mobile Previous
      a(href="#")
        h5.h5-like.for-tablet-and-desktop Next story
        h5.h5-like.for-mobile Next
        div(style="background-image: url('/images/article-next.png')")
          +svg('article-next')
