.block-offset-bottom
  .contacts
    .call-out.call-out--short
      .call-out__image(style="background-image: url('/images/contacts/banner.jpg')")
        .call-out__image__content
          h1.h3-like.call-out__title Contact Us
    .container-lg.block-offset-top
      .row
        .col-12.col-lg-6
          .contacts__item
            h2.contacts__item__title.h2-like.text-center Main Office
            p.offset-bottom-30 401 N. Main St. P.O. Box 2990#[br] Winston-Salem, NC 27101-2990
            div
              a.phone(href="tel:+3367412000") 336 741 2000
          a.contacts__card.for-desktop(href="https://www.bat.com/group/sites/uk__9d9kcy.nsf/vwPagesWebLive/DO57YLEK" target="_blank")
            img(src="/images/logo.png" srcset="/images/logo@2x.png 2x")
            .link-arrow
              span BAT Investors Relation
              +svg('arrow-right')
        .col-12.col-lg-6
          .contacts__item
            h2.contacts__item__title.h2-like.text-center Media
            span.text-italic General Contact
            p Reynolds American Inc.#[br] P.O. Box 2990#[br] Winston-Salem, NC 27102-2990
            div
              a.phone(href="tel:+3367417693") 336 741 7693
            div
              a.mail(href="mailto:RAIPublicAffairs@rjrt.com") RAIPublicAffairs@rjrt.com
            .hr
            span.text-italic Professional journalists
            p Kaelan Hollon
            div
              a.phone(href="tel:+2024214921") 202 421 4921
            .contacts__item__note Please note: The contact information above is for journalists only.
        .col-12.for-tablet
          a.contacts__card(href="https://www.bat.com/group/sites/uk__9d9kcy.nsf/vwPagesWebLive/DO52ADAA")
            img(src="/images/logo.png" srcset="/images/logo@2x.png 2x")
            .link-arrow
              span BAT Investors Relation
              +svg('arrow-right')
