.call-out.call-out--short
  .call-out__image(style="background-image: url('/images/ethics-and-compliance/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Ethics and Compliance
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Ethics and Compliance
    ul.call-out__list.js-dropdown-content
      li
        a(href="/leadership.html") Leadership
      li.is-active
        a(href="/ethics-and-compliance.html") Ethics and Compliance
      li
        a(href="/guiding-princples.html") Guiding Principles

include ../components/message

h2.h2-like.text-centered-and-decorated.block-offset-top.mobile-offset-bottom Ethics and Compliance

article.cards.cards--persons.block-offset-bottom
  .container-lg
    ul.row.lg-center
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/ethics-and-compliance/icon-1.png" srcset="/images/ethics-and-compliance/icon-1@2x.png 2x" itemprop="image" alt="")
          h3.h5-like RAI Standards of Business Conduct
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="2")
          figure
            img(src="/images/ethics-and-compliance/icon-2.png" srcset="/images/ethics-and-compliance/icon-2@2x.png 2x" itemprop="image" alt="")
          h3.h5-like Speak Up Hotline and Portal
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="3")
          figure
            img(src="/images/ethics-and-compliance/icon-3.png" srcset="/images/ethics-and-compliance/icon-3@2x.png 2x" itemprop="image" alt="")
          h3.h5-like Annual Ethics and Compliance Hotlines Summary
    a.secondary-button.cta.large.centered.xs-offset-top(href="https://app.convercent.com/en-us/Account/Login" target="_blank")
      span Employee SoBC Access
      +svg('arrow-right')

.popup.person-popup(data-popup="1")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__textblock.person-popup__textblock--full
        h3.h5-like.text-center.mobile-offset-bottom RAI Standards of Business Conduct
        a(href="/rai-sobc.pdf" download target="_blank") RAI SoBC

.popup.person-popup(data-popup="2")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__textblock.person-popup__textblock--full
        h3.h5-like.text-center.mobile-offset-bottom Speak Up Hotline and Portal
        p The Speak Up hotline is staffed by an independent third-party company.  It is available 24 hours a day, 7 days a week, for employees who wish to report any known or suspected breaches of the SoBC, company policies or the law.  Information may be reported anonymously to the Speak Up hotline.
        p Contact the Speak Up hotline using any of the following reporting channels:
        p - By phone at 1.800.825.7213;
        p - Log on at #[a(href="http://www.bat.com/speakup" target="_blank") www.bat.com/speakup]; or
        p - Via text message to 1.228.900.9652.
        h5.h5-like RAI Board of Directors
        p Complaints or concerns about financial reporting, accounting or auditing matters and controls can be reported directly to the RAI Board of Directors.
        p Send correspondence to:
        p Chair of the Board of Directors
        p Reynolds American Inc.
        p P.O. Box 2990, Winston-Salem, NC 27102-2990
        h5.h5-like Group Designated Officers
        p In addition, four senior BAT Group executives act as our Group Designated Officers. Anyone can raise a concern with them directly. They are:
        p - the Group Head of Business Conduct and Compliance;
        p - the Company Secretary of BAT;
        p - the Group Head of Internal Audit; and
        p - the Head of Group Security.
        br
        p You can contact them by email, phone 011.44.207.845.1000, or send correspondence to:
        p British American Tobacco p.l.c.
        p Globe House
        p 4 Temple Place
        p London WC2R 2PG.

.popup.person-popup(data-popup="3")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__textblock.person-popup__textblock--full
        h3.h5-like.text-center.mobile-offset-bottom Annual Ethics and Compliance Hotlines Summary
        p Annual Ethics and Compliance Hotlines Summary 
        p In 2018, a total of 38 reports of violations of RAI's Standards of Business Conduct were received and investigated. Of the 38 reports, 9 came through our EthicsLine/SpeakUp hotlines, and 29 came through the Employment Practices hotline and/or human resources departments. 27% of the reports were made anonymously. Approximately 60% of the allegations were substantiated and 100% of those substantiated resulted in disciplinary action, up to and including termination (75% resulted in termination). None of the substantiated allegations involved matters or amounts considered material to RAI and its subsidiaries.

section.article-list.block-offset-bottom
  h2.h2-like.text-centered-and-decorated.mobile-offset-bottom Resources
  .container-lg
    .row
      .col-12.col-lg-6
        .article-list__container
          article.article-list__item
            a(href="/whistleblower-policy.pdf" download target="_blank")
              p.article-list__item__date Resources
              h3.h6-like Whistleblower Policy
      .col-12.col-lg-6
        .article-list__container
          article.article-list__item
            a(href="/professional-conduct.pdf" download target="_blank")
              p.article-list__item__date Resources
              h3.h6-like Professional Conduct

//- .article-reading.block-offset-bottom
  h2.h2-like.text-centered-and-decorated.mobile-offset-bottom FAQs
  .container-lg
    .article-reading__container
      .article-reading__items
        h6.article-reading__label Title
        .article-reading__articles
          article.article-reading__item.is-active
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Memo to Managers: Making the Most of Our Code of Conduct
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like The weakest links
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Insider trading misconception
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Confidential information
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Employees who work in an ethical environment are more inclined to go the extra mile for the boss
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Ethics self-assessment…will you pass the test?
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like 'Little things' mean a lot
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
          article.article-reading__item
            .article-reading__item__title.js-dropdown-button-tablet
              h1.h5-like Preventing insider trading violations
            .article-reading__item__content.js-dropdown-content-tablet
              p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
              p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
              ul
                li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
                li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
                li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
                li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
              p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
              p What can you do about this?
              ul
                li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
                li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
                li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
                li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
                li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
      .article-reading__display
        h6.article-reading__label Reading
        .article-reading__display__content
          .article-reading__display__container
            p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
            p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
            ul
              li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
              li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
              li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
              li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
            p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
            p What can you do about this?
            ul
              li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
              li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
              li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
              li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
              li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
            p We communicate frequently about the ethics and compliance risks employees and managers face, and what can be done to reduce those risks. Most of our emphasis is on our own actions.
            p However, some of the greatest risks we face are caused by the actions of those who are not company employees. Suppliers, agents, consultants and contract employees can all expose companies to risk. In the last few years, for example, the following has been alleged:
            ul
              li The recent horsemeat scandal in Europe occurred as a result of decisions made by suppliers.
              li A Mattel supplier changed subcontractors without Mattel's knowledge. The new subcontractor changed a production process to use paint with lead in it.
              li Agents hired by a joint venture between a Halliburton subsidiary and a local company in Nigeria paid bribes. Halliburton faced penalties of more than $500M USD.
              li Allegations of child labor and poor working conditions have increased scrutiny on dozens of companies sourcing apparel and electronics in Asia.
            p Examples don't have to be so dramatic, either. Shoddy and shady practices of all kinds can come back and haunt us. One thing is clear: no one ever remembers the name of the supplier, agent or subcontractor who got the big-name company into trouble. It is always the big company—us—who is negatively identified with these events.
            p What can you do about this?
            ul
              li First, of course, is to follow any review or due diligence policies that apply to your relationships with third parties.
              li Make sure the third parties you deal with are under contract, have been trained and otherwise know our expectations of ethical conduct.
              li Continue to exercise oversight toward our third parties. Know the third parties you work with. Look for signs of change, and let the appropriate people know if changes in process, quality, ownership or 	    anything else raise questions in your mind.
              li Be aware of specific requests or actions that could suggest problems. For example, if you are asked for payment outside of normal channels, or if you sense nervousness or antagonism toward our     	    auditing or quality processes, these could be red flags.
              li Thank you for helping maintain our good name by ensuring that those you work with outside our organization do not harm it.
