.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/harm-reduction/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Harm Reduction
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Harm Reduction
    ul.call-out__list.js-dropdown-content
      li
        a(href="/transformation-journey.html") Transformation Journey
      li.is-active
        a(href="/harm-reduction.html") Harm Reduction
      li
        a(href="/consumers.html") Consumers
  .call-out__content.container-lg
    .call-out__content__text
      h2 Tobacco Harm Reduction (THR) is about reducing the risks faced by adult tobacco smokers by providing them with accurate information about, and instituting regulatory policies that reflect, the comparative risks between cigarettes and non-combustible tobacco products and nicotine replacement therapies — thereby encouraging smokers who do not quit tobacco entirely to consider switching to these tobacco products.
    .call-out__content__image(style="background-image: url('/images/harm-reduction/image-1.jpg')")

article.block-image-and-text.mobile-offset-top-and-bottom-desktop
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/harm-reduction/image-2.jpg" srcset="/images/harm-reduction/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        p In response to the Surgeon General’s report in 1964, governments, at all levels, deployed a range of strategies to encourage smokers to quit and to discourage smoking initiation. Smoking rates have reached historic lows. Specifically, adult smoking has declined significantly from 42.4 percent at its peak to 15.1 percent (1965–2015). However, despite near-universal awareness of the health risks associated with cigarettes, the CDC reports that 37 million American adults continue to smoke.
        p Recently, some members of the public health community have advocated that tobacco harm reduction be included as part of a more comprehensive strategy for reducing the health risks associated with cigarette smoking. Harm reduction encourages public health initiatives that have the potential to decrease the harm associated with a particular behavior without necessarily eliminating that behavior. That is not to say that the alternative behavior does not pose some risk, but they believe that the alternative behavior likely poses less risk. Common harm-reduction efforts that minimize the impact risky behaviors have on society include laws concerning road safety (e.g. seatbelt, helmet and cell phone/texting laws), and needle exchanges for intravenous drug users.

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container.order-lg-2
        img(src="/images/harm-reduction/image-3.jpg" srcset="/images/harm-reduction/image-3@2x.jpg 2x" alt="")
      .col-lg-6.text-container.order-lg-1
        p Given the success of harm reduction strategies with other risky behaviors, a growing number of scientists and public health officials are embracing tobacco harm reduction as an additional tool to reduce the harm associated with cigarette use. Many believe that migrating smokers who are not interested in quitting smoking from cigarettes to non-combustible tobacco products and nicotine replacement therapies presents a public health opportunity.
        p Research indicates that the combustion of tobacco (i.e., cigarette smoking), rather than nicotine, is what exposes tobacco consumers to the most risk. Indeed, there is a scientific consensus that smokeless tobacco products present less risk than cigarettes. There is a growing body of scientific evidence that other non-combustible tobacco products, such as vapor products, may present less risk than cigarette smoking as well. Encouraging smokers to switch to products that reduce the risk, or have the potential to reduce risk, from smoking cigarettes can play a valuable role in public health.

.container-lg.block-offset-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Goals and Leadership
        .information-dropdown__content.js-dropdown-content
          p Our goal for tobacco harm reduction is to drive product and thought innovation that embraces science-based evidence of the comparative health risks associated with tobacco use. This goal is embedded throughout RAI and its subsidiaries to ensure activities are aligned and deliver on our Transforming Tobacco vision. We intend that the existing 37 million adult smokers in the U.S. have access to next generation products (NGP) that will meet their evolving tobacco product preferences. RAI Innovations Company, an RAI subsidiary focused on product development, innovation, and commercialization of NGPs, was created to do just that.
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Programs and Priorities
        .information-dropdown__content.js-dropdown-content
          p Reynolds American and its operating companies continue to transform the tobacco industry by:
          ul.ul-like
            li Conducting research and evaluating the growing body of scientific evidence to better understand the relative risks of different tobacco products;
            li Engaging with legislators, regulators and other stakeholders with a goal of having the elements of tobacco harm reduction reflected in future legislation and regulation;
            li Creating new and innovative products to meet the changing expectations of adult tobacco consumers.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/sound-science/" target="_blank")
            span Sound Science
            +svg('arrow-right')
          p Reynolds American’s subsidiaries are adding to a growing body of science demonstrating that smokeless tobacco products present less risk than cigarettes and that other non-combustible tobacco products that are much newer to the market, such as vapor products, may present significantly less risk than cigarettes. The varying risks presented by these products can be viewed as a risk continuum. Misunderstandings of this risk continuum create barriers to millions of smokers living better lives — smoke-free.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/legislative-and-regulatory-priorities/" target="_blank")
            span Legislative & Regulatory Priorities
            +svg('arrow-right')
          p To realize the potential of tobacco harm reduction, it is essential that Reynolds American and its subsidiaries work with policymakers to address concerns about non-combustible tobacco products.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/product-innovation/" target="_blank")
            span Product Innovation
            +svg('arrow-right')
          p A growing body of scientific research demonstrates a continuum of risk associated with tobacco products. RAI’s operating companies are working to innovate and introduce new products with the potential to reduce these risks, while continuing to meet the changing expectations of adult tobacco consumers. This approach begins with the principle that nothing is to be done or added to products that increases their inherent risks.
