.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/harm-reduction/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Harm Reduction
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Harm Reduction
    ul.call-out__list.js-dropdown-content
      li
        a(href="/transformation-journey.html") Transformation Journey
      li.is-active
        a(href="/harm-reduction.html") Harm Reduction
      li
        a(href="/consumers.html") Consumers
  .call-out__content.container-lg
    .call-out__content__text
      h2 Reducing disease and death associated with cigarette smoking is in the best interest of not only smokers but society as well. While the best way for smokers to achieve these risk reductions is to quit, there are many smokers who don’t want to quit using nicotine and tobacco products.
    .call-out__content__image(style="background-image: url('/images/harm-reduction/image-1.jpg')")

article.block-image-and-text.mobile-offset-top-and-bottom-desktop
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/harm-reduction/image-2.jpg" srcset="/images/harm-reduction/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        p Tobacco harm reduction is a complementary approach to prevention and cessation that may lead to a greater reduction in smoking and an improvement to overall public health.
        p A basic principle of harm reduction is that the product or intervention may not be safe but may be significantly safer than the risky or harmful behavior. Smokers who don’t want to quit tobacco altogether should consider switching to tobacco or nicotine products that may present less risk to their health.

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container.order-lg-2
        img(src="/images/harm-reduction/image-3.jpg" srcset="/images/harm-reduction/image-3@2x.jpg 2x" alt="")
      .col-lg-6.text-container.order-lg-1
        p There is a growing body of scientific evidence that vapor, modern oral and other noncombustible tobacco and nicotine products may present significantly less risk than smoking. While some studies report that there may be health risks associated with these products, we believe those risks are likely lower than the risks of smoking cigarettes.
        p We do not make any health claims about our portfolio of products, but our companies are committed to providing adult tobacco consumers with a wide range of options that best fit their preferences. As technology advances, we will continue to develop innovative product options that meet consumers where they are.

.container-lg.block-offset-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Goals and Leadership
        .information-dropdown__content.js-dropdown-content
          p Our goal for tobacco harm reduction is to drive product and thought innovation that embraces science-based evidence of the comparative health risks associated with tobacco use. This goal is embedded throughout RAI and its subsidiaries to ensure activities are aligned and deliver on our Transforming Tobacco vision. We intend that the existing 37 million adult smokers in the U.S. have access to next generation products (NGP) that will meet their evolving tobacco product preferences. RAI Innovations Company, an RAI subsidiary focused on product development, innovation, and commercialization of NGPs, was created to do just that.
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Programs and Priorities
        .information-dropdown__content.js-dropdown-content
          p Reynolds American and its operating companies continue to transform the tobacco industry by:
          ul.ul-like
            li Conducting research and evaluating the growing body of scientific evidence to better understand the relative risks of different tobacco products;
            li Engaging with legislators, regulators and other stakeholders with a goal of having the elements of tobacco harm reduction reflected in future legislation and regulation;
            li Creating new and innovative products to meet the changing expectations of adult tobacco consumers.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/sound-science/" target="_blank")
            span Sound Science
            +svg('arrow-right')
          p Reynolds American’s subsidiaries are adding to a growing body of science demonstrating that smokeless tobacco products present less risk than cigarettes and that other non-combustible tobacco products that are much newer to the market, such as vapor products, may present significantly less risk than cigarettes. The varying risks presented by these products can be viewed as a risk continuum. Misunderstandings of this risk continuum create barriers to millions of smokers living better lives — smoke-free.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/legislative-and-regulatory-priorities/" target="_blank")
            span Legislative & Regulatory Priorities
            +svg('arrow-right')
          p To realize the potential of tobacco harm reduction, it is essential that Reynolds American and its subsidiaries work with policymakers to address concerns about non-combustible tobacco products.
          a.link-arrow.mobile-offset-top(href="http://sustainability.reynoldsamerican.com/tobacco-harm-reduction/product-innovation/" target="_blank")
            span Product Innovation
            +svg('arrow-right')
          p A growing body of scientific research demonstrates a continuum of risk associated with tobacco products. RAI’s operating companies are working to innovate and introduce new products with the potential to reduce these risks, while continuing to meet the changing expectations of adult tobacco consumers. This approach begins with the principle that nothing is to be done or added to products that increases their inherent risks.
