.call-out.call-out--short
  .call-out__image(style="background-image: url('/images/leadership/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Leadership
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Leadership
    ul.call-out__list.js-dropdown-content
      li.is-active
        a(href="/leadership.html") Leadership
      li
        a(href="/ethics-and-compliance.html") Ethics and Compliance
      li
        a(href="/guiding-princples.html") Guiding Principles
  .call-out__content.call-out__content--full
    h2.h3-like The RAI Group’s Leadership Team is responsible for overseeing the Group’s strategies and policies.

h2.h2-like.text-centered-and-decorated.mobile-offset-top-and-bottom Management Team

article.cards.cards--persons.vertical-images.block-offset-top-and-bottom
  .container-lg
    ul.row
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
          figure
            img(src="/images/leadership/person-1.png" srcset="/images/leadership/person-1@2x.png 2x" itemprop="image" alt="")
          h3.h5-like Ricardo Oberlander
          p(itemprop="name") President and Chief Executive Officer of Reynolds American Inc.
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="2")
          figure
            img(src="/images/leadership/p-2.jpg" itemprop="image" alt="")
          h3.h5-like Joe Fragnito
          p(itemprop="name") Chief Commercial Officer
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="3")
          figure
            img(src="/images/leadership/p-3.jpg" itemprop="image" alt="")
          h3.h5-like Richard Bakker
          p(itemprop="name") Executive Vice President, Finance
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="4")
          figure
            img(src="/images/leadership/p-4.jpg" itemprop="image" alt="")
          h3.h5-like Jim Figlar
          p(itemprop="name") Executive Vice President, Research & Development and Scientific and Regulatory Affairs
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="5")
          figure
            img(src="/images/leadership/p-5.jpg" itemprop="image" alt="")
          h3.h5-like Nancy Hawley
          p(itemprop="name") Executive Vice President, Operations
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="6")
          figure
            img(src="/images/leadership/p-6.jpg" itemprop="image" alt="")
          h3.h5-like Jeff Raborn
          p(itemprop="name") Executive Vice President, Law & External Affairs and General Counsel
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="7")
          figure
            img(src="/images/leadership/p-7.jpg" itemprop="image" alt="")
          h3.h5-like Mike Auger
          p(itemprop="name") Senior Vice President, Trade Marketing
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="8")
          figure
            img(src="/images/leadership/p-8.jpg" itemprop="image" alt="")
          h3.h5-like Bret Davies
          p(itemprop="name") Senior Vice President, Evolution Business Lead
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="9")
          figure
            img(src="/images/leadership/p-9.jpg" itemprop="image" alt="")
          h3.h5-like Aaron Gwinner
          p(itemprop="name") Senior Vice President, Information & Digital Technology
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="10")
          figure
            img(src="/images/leadership/p-10.jpg" itemprop="image" alt="")
          h3.h5-like Todd Holbrook
          p(itemprop="name") Senior Vice President, Marketing Intelligence & Insights
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="11")
          figure
            img(src="/images/leadership/p-11.jpg" itemprop="image" alt="")
          h3.h5-like Borwin Jung
          p(itemprop="name") Senior Vice President, Human Resources
      li.col-6.col-md-4.col-lg-3
        section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="12")
          figure
            //- img(src="/images/leadership/p-12.jpg" itemprop="image" alt="")
          h3.h5-like Frank Silva
          p(itemprop="name") Senior Vice President, Digital Marketing and Commercial Activation

.popup.person-popup(data-popup="1")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-1.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Ricardo Oberlander
          p President and Chief Executive Officer of Reynolds American Inc.
      .person-popup__textblock
        p Ricardo Oberlander has served as the President and Chief Executive Officer of Reynolds American Inc. (RAI) since 2018, after its acquisition by BAT. He had previously served on the RAI Board of Directors for nearly three years.
        p Oberlander fosters the existing environment of professionalism, resilience and commitment to transforming the tobacco industry. He also provides strategic leadership that aligns the RAI Group with BAT’s overall strategy.
        p Oberlander has held various roles within BAT since 1989, including Marketing Director of the Malaysian businesses, Regional Marketing Manager for the Americas, General Manager in France and Global Consumer Director. His variety of local, regional and global roles have given him the opportunity to develop a well-rounded, holistic understanding of BAT’s businesses.
        p Oberlander has a bachelor’s degree in statistics from the Escola Nacional de Ciências Estatísticas and a master’s in business administration from the Instituto Brasileiro de Mercado de Capitais in Rio de Janeiro, Brazil. He also serves as a member of the Wake Forest University School of Business Board of Visitors.
        p He is an avid reader and fond of soccer, white-water rafting and tennis. He is also a fan of NBA basketball, with a growing appreciation for American football.

.popup.person-popup(data-popup="2")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-2.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Joe Fragnito
          p Chief Commercial Officer
      .person-popup__textblock
        p Joseph (Joe) P. Fragnito has served as Chief Commercial Officer within the RAI Group since 2016.
        p Prior to joining the RAI Group of Companies, he was President of the U.S. beverages and snack nuts business unit of the Kraft Heinz Company. Fragnito joined Kraft Foods Group in 2000 and spent his career in marketing and innovations roles with the company. He managed a number of iconic brands including Planters nuts, Maxwell House coffee, Capri Sun and other beverages, Oscar Mayer meats and meals, and Claussen pickles.
        p In addition, he helped lead the integration planning of Kraft Foods and H.J. Heinz Company in the months preceding those companies’ July 2015 merger.
        p Fragnito is a graduate of the U.S. Military Academy at West Point and served as an infantry officer in the U.S. Army for five years, rising to the rank of captain. Fragnito is a native of Syracuse, N.Y.

.popup.person-popup(data-popup="3")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-3.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Richard Bakker
          p Executive Vice President, Finance
      .person-popup__textblock
        p Richard Bakker became the Executive Vice President of Finance at Reynolds American Inc. in late 2019.
        p Bakker joined BAT Group in 1997 and has spent most of his career in finance roles across Europe and Asia Pacific. Among these, he was Regional Finance Controller, Asia Pacific, based in Hong Kong, and Group Finance Controller based in Globe House, U.K. In 2018, he was appointed as Area Director, Western Europe. Together with his team, Bakker successfully launched the Vype Epen 3 in France, and within a year, he positioned BAT France as the leading company in the Vapor category. In the U.K. market, he and his team continued to build our retail leadership position. Bakker holds Dutch nationality. He is a native of Holland and received education through IMD; Switzerland and INSEAD; France.

.popup.person-popup(data-popup="4")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-4.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Jim Figlar
          p Executive Vice President, Research & Development and Scientific and Regulatory Affairs
      .person-popup__textblock
        p Jim Figlar serves as Executive Vice President of Research and Development and Executive Vice President managing Scientific and Regulatory Affairs within the RAI Group.
        p Before assuming his current role, Figlar directed Strategic and Scientific Research to support the whole of the RAI operating companies’ portfolio of products. He started his career in research and development at Brown & Williamson Tobacco Corp. in 1999 and joined the RAI Group after the 2004 merger of the two companies.
        p Figlar earned a bachelor’s degree in environmental earth science from Eastern Connecticut State University, as well as a master’s degree and a Ph.D. in chemistry from the University of Massachusetts.

.popup.person-popup(data-popup="5")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-5.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Nancy Hawley
          p Executive Vice President, Operations
      .person-popup__textblock
        p Nancy H. Hawley was appointed Executive Vice President of Operations within the RAI Group in 2015.
        p She had been Senior Vice President of Operations since 2014. Prior to that, Hawley was Vice President of Manufacturing.
        p Hawley joined the RAI Group in 1984 as a Staff Engineer and had held a number of positions, including Senior Manager of Process and Transition Planning working as a liaison between marketing and manufacturing, Director of Tobacco Processing, Senior Director of Manufacturing Engineering, Senior Director of Making and Packing Operations, and Senior Director of Strategy and Supply Chain Planning.
        p Hawley holds a professional engineering registration in North Carolina. She serves as a board member of the Reynolds American Foundation and was previously a board member for the Foundation of Forsyth Tech and the United Way Basic Needs Impact Committee. She is a past chair of the West Forsyth Family YMCA Board of Directors, past president of the Twin City Stage Board of Directors, and a past member of the King Chamber of Commerce Board of Directors. Hawley also previously received the Professional Engineers of North Carolina Young Engineer of the Year Award.
        p A native of Radford, Va., Hawley earned a degree in mechanical engineering from Virginia Polytechnic Institute and State University, and a master's degree in business administration from Wake Forest University.

.popup.person-popup(data-popup="6")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-6.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Jeff Raborn
          p Executive Vice President, Law & External Affairs and General Counsel
      .person-popup__textblock
        p Jeff Raborn is Executive Vice President of Law and External Affairs and General Counsel of Reynolds American Inc.
        p Before assuming his role in 2018, Raborn was Senior Vice President, Litigation and Regulatory, and Deputy General Counsel within the RAI Group. He has been part of the law leadership team since 2008, when he was named Vice President, Litigation, and Assistant General Counsel at RJRT, working with smoking and health litigation.
        p Raborn started his career with Brown & Williamson Tobacco Corporation (B&W) in Louisville, Ky., as Litigation Counsel. He moved to Winston-Salem in 2004 when B&W merged with RJRT.
        p A native of Amite, La., Raborn earned a bachelor’s degree in history and a juris doctorate degree from Louisiana State University. He also serves as chairman of the Reynolds American Foundation.

.popup.person-popup(data-popup="7")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-7.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Mike Auger
          p Senior Vice President, Trade Marketing
      .person-popup__textblock
        p Michael (Mike) P. Auger is Senior Vice President of Trade Marketing within the RAI Group and has led the function since 2016.
        p Auger joined the RAI Group in 2004 when the company merged with Brown & Williamson Tobacco Corp. Auger began his career with Brown & Williamson Tobacco in 1990 as a Sales Representative in Boston, Massachusetts. After several managerial promotions, he became Area Vice President, Midwest, in 2006. He assumed the role of Vice President of Trade Marketing Development in May 2011.
        p Auger is a native of Augusta, Maine. He holds a bachelor’s degree in business management & personnel management from Eckerd College. Auger is a member of the alumni board at Eckerd College and is a board member with Big Brothers Big Sisters.

.popup.person-popup(data-popup="8")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-8.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Bret Davies
          p Senior Vice President, Evolution Business Lead
      .person-popup__textblock
        p Bret Davies is the Senior Vice President of the Target Operating Model and One SAP (Evolution) initiative in Information and Digital Technology (IDT) within the RAI Group.
        p Davies joined the organization in 1994 as the Manager of Distribution Controls and has served in a variety of senior supply chain and IT leadership roles during his tenure, most recently as Senior Director of IT. Previously, he worked with IBP, Inc., a division of Tyson Foods, in various supply chain roles. As Vice President, Davies brought a thorough knowledge of business processes and corporate systems, along with strong relationships with technology partners.
        p A native of Reading, Pa., Davies holds a bachelor of science degree in business logistics from the Smeal College of Business at Pennsylvania State University and a master’s degree in business administration from the Stetson School of Business and Economics at Mercer University.

.popup.person-popup(data-popup="9")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-9.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Aaron Gwinner
          p Senior Vice President, Information & Digital Technology
      .person-popup__textblock
        p Aaron Gwinner is the Senior Vice President of Information and Digital Technology (IDT) within the RAI Group.
        p Prior to joining the Group, Gwinner was the Global Leader of IT Transformation and Capabilities with The Coca-Cola Company. With more than 26 years in the IT industry, he has led several global efforts and dynamic teams, such as the CIO for Marketing, Digital and Public Affairs; CIO Eurasia, North Asia and Middle East (based in Moscow, Russia); and as CIO Global Customers.
        p A native of, Atlanta, Ga., Gwinner holds a master’s degree in business administration from J. Mack Robinson College of Business at Georgia State University, bachelor of science degree in Information Systems from Michael J. Coles College of Business at Kennesaw State University and received his Global Business Management Certificate from the European Union.  Gwinner also served with distinction in the U.S. Army and is a Gulf War Veteran who was awarded the Army Commendation Medal for Meritorious Achievement in Desert Storm.

.popup.person-popup(data-popup="10")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-10.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Todd Holbrook
          p Senior Vice President, Marketing Intelligence & Insights
      .person-popup__textblock
        p Todd Holbrook serves as Senior Vice President of Marketing Intelligence and Insights within the RAI Group. Previously, he was Vice President of Consumer Marketing Services, leading the team responsible for supporting U.S. drive brand marketing activations.
        p Holbrook joined the RAI Group in 1996 and has held several positions in marketing, including the Director of Camel’s consumer engagement programs, Senior Director of Pall Mall, and Senior Director of the Florida sales region.
        p Originally from Massachusetts, Holbrook attended Stetson University in Florida, graduating with a bachelor’s degree in business administration with a focus in marketing. He then worked at a marketing research firm in Boston. Realizing that his passion was in brand marketing, he earned his master’s degree of business administration from Wake Forest University.

.popup.person-popup(data-popup="11")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        img(src="/images/leadership/p-11.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Borwin Jung
          p Senior Vice President, Human Resources
      .person-popup__textblock
        p Borwin Jung is the Senior Vice President of Human Resources (HR) for Reynolds American Inc.
        p Jung assumed his role in 2018, after most recently serving as BAT's Group Head of Talent and Organizational Effectiveness. He joined BAT in 1998 and has spent his career in HR roles in Germany, Brussels, South Korea, and then throughout the Asia-Pacific region.
        p A native of Germany, Jung has a degree from University of Hamburg.

.popup.person-popup(data-popup="12")
  .person-popup__bg.js-close-popup
  .person-popup__container.container-sm
    button.person-popup__close.js-close-popup
      +svg('close')
    .person-popup__content
      .person-popup__main-info
        //- img(src="/images/leadership/p-12.jpg" alt="")
        .person-popup__main-info__text
          h3.h5-like Frank Silva
          p Senior Vice President, Digital Marketing and Commercial Activation
      .person-popup__textblock
        p Frank Silva began serving as Senior Vice President of Digital Marketing and Commercial Activation for the RAI Group in late 2019.
        p Silva is leading the modernization of the RAI Group’s brand building and route to consumer strategies, with responsibilities including digital and data driven marketing, consumer engagement and experience, e-commerce, owned retail and integrated marketing planning.
        p Prior to joining the RAI Group, Silva was Regional Marketing Director for British American Tobacco’s (BAT) Asia Pacific and Middle East region (APME), responsible for the marketing strategy and overseeing marketing efforts across 40 countries.
        p Silva was Vice President Marketing and Sales at BAT Canada, where he was instrumental in designing and delivering a growth strategy that enabled turnaround across both traditional and next generation categories. Silva also held the role of Marketing Director for BAT UK and Ireland and over a two-year span was able to significantly grow the business and transform the organizational culture.
        p A native of Canada, Silva is a graduate in management, having also completed various programs in leadership, innovation, social responsibility and systems dynamics.
