include ../components/banner-hero

+cards([
  {
    title: 'Guiding Principles',
    background: 'm_card-1.jpg',
    link: '/guiding-princples.html',
  },
  {
    title: 'Community Engagement',
    background: 'm_card-2.jpg',
    link: '/community-engagement.html',
  },
  {
    title: 'Areas of Opportunity',
    background: 'm_card-3.jpg',
    link: '/areas-of-opportunity.html',
  },
])

include ../components/banner-hairline-headline-cta
include ../components/article-list-image
