.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/news-and-features/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title News and Features
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet News and Features
    ul.call-out__list.js-dropdown-content
      li.is-active
        a(href="/news-and-features.html") News and Features
      li
        a(href="/press-releases.html") Press Releases
      li
        a(href="/resources.html") Useful Resources

section.article-grid.block-offset-top-and-bottom
  .container-lg
    .row
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            a(href="/santa-fe-natural.html")
              img(src="/images/article-list-1.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Santa Fe Natural Tobacco Company moves to captured rainwater for irrigation
            p It takes time, energy and resources to maintain the properties and facilities that …
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="/santa-fe-natural.html")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date Feb. 10, 2020
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            a(href="/care-compassion-and-community.html")
              img(src="/images/article-list-2.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Care, compassion and community commitment drive SFNTC’s Oxford employees
            p Hundreds of North Carolinians who live in and around Granville County are leading better …
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="/care-compassion-and-community.html")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date Feb. 10, 2020
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            a(href="/reynolda-house.html")
              img(src="/images/article-list-3.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like Reynolda House
            p Richard Joshua Reynolds lived less than a year at Reynolda House and Gardens, the country …
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="/reynolda-house.html")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date Feb. 10, 2020
      article.col-12.col-md-6.col-lg-4
        .article-grid__item
          .article-grid__item__image
            a(href="/rdrn-and-boy-scouts-of-america.html")
              img(src="/images/article-list-4.jpg" alt="")
          .article-grid__item__textblock
            h3.h5-like RDRN and Boy Scouts of America
            p R.J. Reynolds Tobacco Company’s Right Decisions Right Now: Be Tobacco Free (RDRN) program has …
            .article-grid__item__bottomside.d-flex.align-items-center.justify-content-between
              a.link-arrow(href="/rdrn-and-boy-scouts-of-america.html")
                span Read Article
                +svg('arrow-right')
              span.article-grid__item__date Feb. 10, 2020
