.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/press-releases/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Press Releases
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Press Releases
    ul.call-out__list.js-dropdown-content
      li
        a(href="/news-and-features.html") News and Features
      li.is-active
        a(href="/press-releases.html") Press Releases
      li
        a(href="/resources.html") Useful Resources

include ../components/article-list-years

.container-small.block-offset-bottom
  include ../components/pagination
