.block-offset-top-and-bottom
  .container-sm
    h1.h3-like.text-center.mobile-offset-bottom To search and apply for positions with the RAI Group of Companies, you will be redirected to careers.bat.com.
  .container-small
    p The RAI Group of Companies is wholly owned by British American Tobacco (BAT), an international tobacco group headquartered in London, UK.
    p When creating an account on the BAT Careers site, please ensure that your language preferences are set to U.S. English. Once you’ve created an account, you can do this by finding the current language setting in the upper right corner, then clicking on the current language setting and selecting “English US”.
    a.button.cta.centered.mobile-offset-top(href="http://careers.bat.com/" target="_blank") Go to careers.bat.com
