.article.block-offset-top-and-bottom
  .container-max
    a.back(href="/news-and-features.html") < News and Features
  .container-small
    h1.h3-like.text-center RDRN and Boy Scouts of America
    .article__image-date
      img(src="/images/rdrn/image-1.jpg" alt="")
      span Feb. 10, 2020
    p R.J. Reynolds Tobacco Company’s Right Decisions Right Now: Be Tobacco Free (RDRN) program has long partnered with the Boy Scouts of America and continues to gain momentum in increasing awareness among teens of the dangers of tobacco use.
    p In 2012, the Boy Scouts created a new patch, earned by scouts who complete the organization’s Trail of Courage program and take the Right Decisions Right Now: Be Tobacco Free pledge. Scouts pledge to not use tobacco products, illegal drugs or alcohol. In addition, they promise to “do my best to educate my friends and my family about the dangers of using these products. I commit to living every day by the Scout oath and Scout law. I will make the right decision, right now and choose to refuse when offered dangerous substances.”
    p RDRN’s partnership with the Boy Scouts of America continued in 2019 with outstanding results. In 2019, 24,029 Scouts heard RDRN’s anti-tobacco youth message at Philmont Ranch.
    p The Trail of Courage program has also expanded to troops in the Nashville, Tenn., area, the Raleigh, N.C., area and Winston-Salem, N.C.
    //- .article__share
      h6.h6-like Share on:
      .article__share__items
        a(href="#")
          img(src="/images/twitter.svg" alt="")
        a(href="#")
          img(src="/images/linkedin.svg" alt="")
        a(href="#")
          img(src="/images/mail.svg" alt="")
    //- .article__another
      a(href="#")
        div(style="background-image: url('/images/article-prev.png')")
          +svg('article-prev')
        h5.h5-like.for-tablet-and-desktop Previous story
        h5.h5-like.for-mobile Previous
      a(href="#")
        h5.h5-like.for-tablet-and-desktop Next story
        h5.h5-like.for-mobile Next
        div(style="background-image: url('/images/article-next.png')")
          +svg('article-next')
