.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/resources/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Resources
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Resources
    ul.call-out__list.js-dropdown-content
      li
        a(href="/news-and-features.html") News and Features
      li
        a(href="/press-releases.html") Press Releases
      li.is-active
        a(href="/resources.html") Useful Resources

article.cards.cards--persons.block-offset-top-and-bottom
  .container-lg
    ul.row.justify-content-center
      //- li.col-6.col-md-4.col-lg-3
        a(href="/image-library.html")
          section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
            figure
              img(src="/images/resources/videos.jpg" itemprop="image" alt="")
            h3.h5-like Videos
      li.col-6.col-md-4.col-lg-3
        a(href="/image-library.html")
          section.cards__item.cards__item--person.text-center.js-open-popup(itemscope itemtype="http://schema.org/Person" data-popup="1")
            figure
              img(src="/images/resources/images.jpg" itemprop="image" alt="")
            h3.h5-like Image Library
