.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/responsible-marketing-and-product-integrity/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Responsible Marketing & Product Integrity
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Responsible Marketing & Product Integrity
    ul.call-out__list.js-dropdown-content
      li
        a(href="/youth-prevention.html") Youth Prevention
      li
        a(href="/community-engagement.html") Community Engagement
      li
        a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      li.is-active
        a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      li
        a(href="/supplier-diversity.html") Supplier Diversity
  .call-out__content.container-lg
    .call-out__content__text
      h2 Responsible marketing is central to our values and is underscored by how we execute on our Transforming Tobacco mission. We have demonstrated that our operating companies’ products, including next generation, innovative products, can be marketed responsibly to adult tobacco consumers.
    .call-out__content__image(style="background-image: url('/images/responsible-marketing-and-product-integrity/image-1.jpg')")

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/responsible-marketing-and-product-integrity/image-2.jpg" srcset="/images/responsible-marketing-and-product-integrity/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h5.h3-like Our approach to responsible marketing reflects our commitment to providing enjoyable products to existing adult tobacco consumers while limiting youth exposure to our products and product marketing.

article.block-bullet-point-section.theme-light(style="background-color: #172962")
  h1.h4-like.text-center Our operating companies’ marketing practices#[br] adhere to the following core principles:
  .container
    ul.ul-like.row
      li.col-12.col-md-6 Our marketing efforts will align with our broader Transforming Tobacco mission;
      li.col-12.col-md-6 Our marketing will adhere to applicable regulatory standards and policies and;
      li.col-12.col-md-6 Our marketing will be responsible and accurate;
      li.col-12.col-md-6 Youth should never use tobacco products, in any form.
      li.col-12.col-md-6 Our marketing will be directed at adult consumers who are aged 21 or older;

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container.order-lg-2
        img(src="/images/responsible-marketing-and-product-integrity/image-3.jpg" srcset="/images/responsible-marketing-and-product-integrity/image-3@2x.jpg 2x" alt="")
      .col-lg-6.text-container.order-lg-1
        .border-left
          p Our companies partner with expert third-party entities, including leading analytics and data providers, to implement and constantly improve upon best-in-class technology and vetting systems that ensure marketing is directed to appropriate adult audiences and restricts youth access.
          p We stand firm on the fact that those under 21 should never use any form of tobacco or nicotine, in any product form, and we continue to implement practices and support programs that limit youth use.
          a.secondary-button.cta.large(href="/youth-prevention.html")
            span Youth Prevention
            +svg('arrow-right')

h3.h2-like.text-centered-and-decorated.block-offset-top Product Integrity

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/responsible-marketing-and-product-integrity/image-4.jpg" srcset="/images/responsible-marketing-and-product-integrity/image-4@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h4.h3-like We take product integrity and quality seriously.
        .border-left
          p From product conception to development to responsible marketing, our teams implement the highest operational standards in the industry. We want to meet and exceed the standards available to us as our organization builds the broadest range of innovative products in the industry.
          p Our product integrity team evaluates ingredients and material that goes into our operating companies’ products with testing, manufacturing and packaging criteria to ensure they meet internal requirements.

p.container-sm.text-center.block-offset-bottom #[i We are committed to doing the right thing and remain open to working with the rest of the industry and regulatory agencies to implement appropriate marketing principles targeted only at adult tobacco consumers.]
