.article.block-offset-top-and-bottom
  .container-max
    a.back(href="/community-engagement.html") < Community Engagement
  .container-small
    h1.h3-like.text-center Santa Fe Natural Tobacco Company moves to captured rainwater for irrigation
    .article__image-date
      img(src="/images/community-engagement/image-4.jpg" srcset="/images/community-engagement/image-4@2x.jpg 2x" alt="")
      //- span 19 Oct 2019
    p It takes time, energy and resources to maintain the properties and facilities that support our businesses. Doing so sustainably adds an entirely new layer of thinking.
    p At Santa Fe Natural Tobacco Company’s (SFNTC) Oxford, N.C. campus, considering environmental impact and resource usage is deeply embedded in the culture with new ideas and approaches being implemented on an ongoing basis. From becoming a 100 percent LED-lighted campus in late 2018 (resulting in an approximate 300,000 kWh decrease in energy use for the year) to adjusting shifts and schedules to reduce natural gas use, finding ways to make a positive difference is a way of life.
    p SFNTC’s water capture and irrigation project has been several years in the making. Even with a moderate watering schedule, maintaining the grounds around the campus can take around 1 million gallons of water a year. While captured rainwater has been used to water parts of the property since 2017, SFNTC had set a goal to have captured water account for 100 percent of the water used for irrigation of the property.
    p Over the last few years, a system of pipes, water reservoirs, pumps and solar panels has been put in place to efficiently and effectively capture, store and use rainwater coming off the facility roofs and paved surfaces to irrigate the grounds. As of 2019, all the pieces are in place to keep the grounds properly irrigated using only captured rainwater.
    //- .article__share
      h6.h6-like Share on:
      .article__share__items
        a(href="#")
          img(src="/images/twitter.svg" alt="")
        a(href="#")
          img(src="/images/linkedin.svg" alt="")
        a(href="#")
          img(src="/images/mail.svg" alt="")
    //- .article__another
      a(href="#")
        div(style="background-image: url('/images/article-prev.png')")
          +svg('article-prev')
        h5.h5-like.for-tablet-and-desktop Previous story
        h5.h5-like.for-mobile Previous
      a(href="#")
        h5.h5-like.for-tablet-and-desktop Next story
        h5.h5-like.for-mobile Next
        div(style="background-image: url('/images/article-next.png')")
          +svg('article-next')
