.block-offset-top-and-bottom
  .sitemap
    h1.h3-like.text-center Sitemap
    .container-small
      .row
        .col-12.col-md-6
          h5.h5-like About Us
          ul
            li
              a(href="/leadership.html") Leadership
            li
              a(href="/ethics-and-compliance.html") Ethics and Compliance
            li
              a(href="/guiding-princples.html") Guiding Princples
          h5.h5-like Brands
          ul
            li
              a(href="/brands.html") Brands
          h5.h5-like How we innovate
          ul
            li
              a(href="/transformation-journey.html") Transformation Journey
            li
              a(href="/harm-reduction.html") Harm Reduction
            li
              a(href="/consumers.html") Consumers
          h5.h5-like Our responsibility
          ul
            li
              a(href="/youth-prevention.html") Youth Prevention
            li
              a(href="/community-engagement.html") Community Engagement
            //- li
              a(href="#") Sustainability
            li
              a(href="/engagement-and-advocacy.html") Engagement and Advocacy
            li
              a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
            li
              a(href="/supplier-diversity.html") Supplier Diversity
        .col-12.col-md-6
          h5.h5-like Careers
          ul
            li
              a(href="/why-rai.html") Why the RAI Group?
            li
              a(href="/areas-of-opportunity.html") Areas of Opportunity
            li
              a(href="https://careers.reynoldsamerican.com/" target="_blank") Search and Apply
          h5.h5-like Media
          ul
            li
              a(href="/news-and-features.html") News and Features
            li
              a(href="/press-releases.html") News Releases
            li
              a(href="/resources.html") Resources
