.block-offset-top-and-bottom
  .sitemap
    h1.h3-like.text-center Sitemap
    .container-small
      .row
        .col-12.col-md-6
          h5.h5-like About Us
          ul
            li
              a(href="#") Leadership
            li
              a(href="#") Ethics and Compliance
            li
              a(href="#") Guiding Principles
          h5.h5-like Brands
          ul
            li
              a(href="#") Brands
          h5.h5-like How we innovate
          ul
            li
              a(href="#") Transformation Journey
            li
              a(href="#") Harm Reduction
            li
              a(href="#") Consumers
          h5.h5-like Our responsibility
          ul
            li
              a(href="#") Youth Prevention
            li
              a(href="#") Community Engagement
            li
              a(href="#") Sustainability
            li
              a(href="#") Engagement and Advocacy
            li
              a(href="#") Responsible Marketing & Product Integrity
            li
              a(href="#") Supplier Diversity
        .col-12.col-md-6
          h5.h5-like Careers
          ul
            li
              a(href="#") Why the RAI Group?
            li
              a(href="#") Areas of Opportunity
            li
              a(href="#") Search and Apply
          h5.h5-like Media
          ul
            li
              a(href="#") News & Features
            li
              a(href="#") Press Releases
            li
              a(href="#") Resources
