.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/supplier-diversity/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Supplier Diversity
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Supplier Diversity
    ul.call-out__list.js-dropdown-content
      li
        a(href="/youth-prevention.html") Youth Prevention
      li
        a(href="/community-engagement.html") Community Engagement
      li
        a(href="/sustainability.html") Sustainability
      li
        a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      li
        a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      li.is-active
        a(href="/supplier-diversity.html") Supplier Diversity
  .call-out__content.container-sm
    h2.h3-like.text-center Having a diverse supply chain is critical for the continued success of the RAI Group of Companies.

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        p Rapidly changing demographics and societal expectations contribute to an ever-evolving business landscape. RAI’s subsidiaries actively recruit and retain diverse suppliers to drive innovation, reduce supply chain impacts and enhance the communities in which they operate. RAI Group is committed, across the enterprise, to enhancing our participation with diverse suppliers. In order to accomplish this goal, we will:
        .border-left
          ul.ul-like.li-full
            li Cultivate relationships with diverse suppliers;
            li Broaden the pool of diverse suppliers for consideration via the RFP process;
            li Reach beyond conventional procurement into the areas of our businesses that traditionally do not process their spending decisions through the procurement function;
            li Invest money to attend national Supplier Diversity symposiums and subscribe to databases where diverse suppliers are listed;
            li Engage and educate employees to encourage them to broaden supplier networks.
      .col-lg-6.image-container
        img(src="/images/supplier-diversity/image-1.jpg" srcset="/images/supplier-diversity/image-1@2x.jpg 2x" alt="")

article.block-bullet-point-section.theme-light(style="background-color: #172962")
  .container-xs
    h1.h4-like.text-center Supplier diversity promotes an innovative business environment not only throughout the RAI Group, but also for their diverse business partners. A diverse supplier base has the following benefits:
  .container
    ul.ul-like.row
      li.col-12.col-md-6 Driving innovation
      li.col-12.col-md-6 Promoting excellence in materials and services
      li.col-12.col-md-6 Fostering a competitive edge in a changing business culture
      li.col-12.col-md-6 Facilitating enhanced quality, service and cost competition
      li.col-12.col-md-6 Promoting competition and inclusion in sourcing decisions
      li.col-12.col-md-6 Enhancing social and economic benefits in local communities

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/supplier-diversity/image-2.jpg" srcset="/images/supplier-diversity/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        p Our operating companies commit to ensuring equal-access business opportunities to qualified, high-potential, diverse suppliers. Procurement works with each operating company to determine and execute supplier diversity goals. We track the following diverse supplier categories:
        .border-left.two-lists
          ul.ul-like.li-full
            li Minority-owned businesses
            li Woman-owned businesses
            li Minority-woman-owned businesses
            li Woman-owned small businesses
            li Minority-owned small businesses
            li Minority-woman-owned small businesses
            li Veteran-owned businesses
          ul.ul-like.li-full
            li Service-disabled, veteran-owned businesses
            li Disadvantaged- or disabled- person-owned businesses
            li HUBZone businesses
            li LGBTQ-owned businesses

article.goal.block-offset-top-and-bottom
  .container-small
    h1.goal__title.h2-like.text-center Diverse supplier spend
    p.text-center Historically, we measured performance toward supplier diversity goals using data from suppliers that self-report a diversity status or are third-party certified. In 2016, we completed a validation effort to identify third-party certified suppliers, enabling separate tracking and reporting on suppliers with third-party certifications.
    .goal__icon(style="background-image: url('./images/supplier-diversity/image-3.png')")
      .goal__icon__subtitle 2022 Goal
      .goal__icon__title 6-8%

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        p Our goal is to reach a 6 to 8 percent spend rate with certified diverse suppliers by 2022. We will continue to systematically engage non-certified minority suppliers to encourage them to obtain their third-party certification, as well as look to broaden the number of minority suppliers with whom we do business.
        p As we expand our supplier diversity program, we will update our tracking and reporting metrics to include the following:
        .border-left
          ul.ul-like.li-full
            li Percent of diverse spend in total supply base
            li Percent of diverse suppliers in total supply base
            li Small business related spend by supplier and in total
      .col-lg-6.image-container
        img(src="/images/supplier-diversity/image-4.jpg" srcset="/images/supplier-diversity/image-4@2x.jpg 2x" alt="")

.banner.banner-with-mobile-image.theme-light.theme-dark-blue-mobile.banner-with-overlay(style="background-image: url('/images/supplier-diversity/banner-2.jpg')")
  .container
    .row.content.align-items-center
      .col-12.for-mobile
        .banner__image(style="background-image: url('/images/supplier-diversity/banner-2.jpg')")
      .col-12
        h2.text-center.text-left-mobile To advance our supplier diversity program, the procurement department maintains relationships with the Women’s Business Enterprise National Council (WBENC), National Minority Supplier Development Council (NMSDC) and Carolinas-Virginia Minority Supplier Development Council (CVMSDC), National Veteran-Owned Business Association (NaVOBA), and the National Gay & Lesbian Chamber of Commerce (NGLCC).

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/supplier-diversity/image-5.jpg" srcset="/images/supplier-diversity/image-5@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        p The Supplier Diversity Team plans to advance supplier diversity programs through several initiatives, including:
        .border-left
          ul.ul-like.li-full
            li Continuing to develop relationships with diversity councils and associations and chamber of commerce organizations;
            li Growing and developing the number of certified diverse suppliers;
            li Engaging and promoting internal communications with business functions to obtain the commitment and support of supplier diversity objectives;
            li Continuing the development of robust externally facing communication;
            li Driving supplier diversity to further inclusion as part of the RAI Group culture;
            li Promoting and improving certification efforts to drive integrity and compliance; and
            li Anticipating further collaboration with diversity councils, suppliers and other partners to drive supplier diversity throughout our companies’ supply chains.
