.call-out.call-out--long.block-offset-bottom
  .call-out__image(style="background-image: url('/images/why-rai/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Why the RAI Group?
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Why the RAI Group?
    ul.call-out__list.js-dropdown-content
      li.is-active
        a(href="/why-rai.html") Why the RAI Group?
      li
        a(href="/areas-of-opportunity.html") Areas of Opportunity
      li
        a(href="/search-and-apply.html") Search and Apply

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h3.h3-like Whatever your notions of working for a tobacco company may be, think again.  
        .border-left
          p To change our industry, we changed the way we work. We foster bold thinking and problem-solving. We succeed through collaboration, and our teams give their all every day to help us be our best.
          p Here’s a great example: a traditional career path at a traditional company is “up.” But at the RAI Group, career paths are “up” and “over”—both vertically and horizontally. It’s a unique approach that expands our employees’ capabilities by broadening their experiences, and it helps develop well-rounded leaders prepared for the challenges of our dynamic business landscape.
          p No matter what area of the organization you’re interested in, you’ll have plenty of opportunities to contribute your unique talents and help us bring our vision of transforming tobacco to life.
      .col-lg-6.image-container
        img(src="/images/why-rai/image-1.jpg" srcset="/images/why-rai/image-1@2x.jpg 2x" alt="")

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/why-rai/image-2.jpg" srcset="/images/why-rai/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h3.h3-like We believe in ensuring that employees have the necessary tools and resources to live their best lives.
        .border-left
          p Whether it’s visiting an on-site health center, learning a new skill through one of the thousands of on-line course offerings, feeling confident when it comes to saving for the future, or taking time off to acclimate to a growing family, our comprehensive benefits support your total well-being.

article.block-bullet-point-section.theme-light(style="background-color: #172962")
  h1.h4-like.text-center Benefits offered to our employees include:
  .container
    ul.ul-like.row
      li.col-12.col-md-6 A best-in-class parental leave plan with 16 weeks paid leave and up to 8 months of a reduced work schedule
      li.col-12.col-md-6 On-site health and fitness centers
      li.col-12.col-md-6 Flexible hours and remote work options
      li.col-12.col-md-6 Bonus incentives for all employees
      li.col-12.col-md-6 Continuous professional learning and development programs
      li.col-12.col-md-6 401(k) savings – we contribute 3% to your 401(k) whether you participate or not. On top of that, we match your contribution at 100% up to 6%
    a.secondary-button.cta.large.centered(href="https://careers.reynoldsamerican.com/" target="_blank")
      span Areas of Opportunity
      +svg('arrow-right')

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h3.h3-like Together we thrive.
        .border-left
          p We celebrate individuality, and together we create a community that respects, values and includes each one of us as equals. Our people are among our greatest assets, and their unique experience, knowledge and ideas inspire innovation and allow us to make amazing things happen.
          p Learn more about our commitment to fostering an inclusive and diverse workplace.
      .col-lg-6.image-container
        img(src="/images/why-rai/image-3.jpg" srcset="/images/why-rai/image-3@2x.jpg 2x" alt="")

include ../components/headline-text-icon

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/why-rai/image-4.jpg" srcset="/images/why-rai/image-4@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        h3.h3-like A Company of Bold Thinkers
        .border-left
          p Our people are one of our greatest assets. We value them because of who they are, how they think and how they come together.
          p People choose to work here because of our operating companies’ iconic brands and legacy of success; they stay because of the remarkable people they get to work with every day. It’s true: people are proud to work here, and it shows. We nurture a culture of collaboration and success, where people can aspire to perform at the highest level of their capabilities while having the resources and opportunities to support our success and their own. We thrive together because we’re united in purpose and focused on the future. Meet our people and learn more about their career journeys.

//- h2.h2-like.text-centered-and-decorated.block-offset-top.mobile-offset-bottom Meet Our Team

//- article.cards.cards--persons.block-offset-bottom
  .container-lg
    ul.row
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-1.png" itemprop="image" alt="")
            h3.h5-like Ricardo Oberlander
            p(itemprop="name") President and Chief Executive Officer Reynolds American Inc
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-2.png" itemprop="image" alt="")
            h3.h5-like Michael P. Auger
            p(itemprop="name") President of RAI Trade Marketing Services Company
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-3.png" itemprop="image" alt="")
            h3.h5-like Richard Bakker
            p(itemprop="name") Chief Financial Officer and Executive Vice President of Reynolds American Inc.
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-4.png" itemprop="image" alt="")
            h3.h5-like Bret Davies
            p(itemprop="name") Senior Vice President of Information Technology
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-1.png" itemprop="image" alt="")
            h3.h5-like Ricardo Oberlander
            p(itemprop="name") President and Chief Executive Officer Reynolds American Inc
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-2.png" itemprop="image" alt="")
            h3.h5-like Michael P. Auger
            p(itemprop="name") President of RAI Trade Marketing Services Company
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-3.png" itemprop="image" alt="")
            h3.h5-like Richard Bakker
            p(itemprop="name") Chief Financial Officer and Executive Vice President of Reynolds American Inc.
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-4.png" itemprop="image" alt="")
            h3.h5-like Bret Davies
            p(itemprop="name") Senior Vice President of Information Technology
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-1.png" itemprop="image" alt="")
            h3.h5-like Ricardo Oberlander
            p(itemprop="name") President and Chief Executive Officer Reynolds American Inc
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-2.png" itemprop="image" alt="")
            h3.h5-like Michael P. Auger
            p(itemprop="name") President of RAI Trade Marketing Services Company
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-3.png" itemprop="image" alt="")
            h3.h5-like Richard Bakker
            p(itemprop="name") Chief Financial Officer and Executive Vice President of Reynolds American Inc.
      li.col-6.col-md-4.col-lg-3
        a(href="/meet-our-people.html")
          section.cards__item.cards__item--person.text-center(itemscope itemtype="http://schema.org/Person")
            figure
              img(src="/images/person-4.png" itemprop="image" alt="")
            h3.h5-like Bret Davies
            p(itemprop="name") Senior Vice President of Information Technology
