.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/youth-prevention/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Youth Prevention
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Youth Prevention
    ul.call-out__list.js-dropdown-content
      li.is-active
        a(href="/youth-prevention.html") Youth Prevention
      li
        a(href="/community-engagement.html") Community Engagement
      //- li
        a(href="/sustainability.html") Sustainability
      li
        a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      li
        a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      li
        a(href="/supplier-responsibility.html") Supplier Responsibility
  .call-out__content.container-lg
    .call-out__content__text
      h2 The RAI Group of Companies share society’s belief that no one under the age of 21 should use tobacco products, including next generation products such as vapor products. Youth tobacco use is illegal, and it hurts our businesses.
    .call-out__content__image(style="background-image: url('/images/youth-prevention/image-1.jpg')")

article.block-image-and-text.block-offset-top-and-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/youth-prevention/image-2.jpg" srcset="/images/youth-prevention/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        .border-left
          p Independent studies show long-term, substantial progress in reducing youth tobacco use and access. Most notably, a recent survey by the Centers for Disease Control and Prevention (CDC) and the U.S. Food and Drug Administration’s (FDA) Center for Tobacco Products shows decline in all forms of tobacco by youth.
          p According to the study, the number of U.S. middle school and high school students who say they are current tobacco users – defined as having used a tobacco product in the past 30 days – dropped from 4.7 million in 2015 to 3.9 million in 2016.				
          p While these findings demonstrate the effectiveness of youth tobacco prevention strategies, continued diligence is needed, and we remain committed to furthering youth tobacco prevention (YTP). Preventing the use of tobacco products by those under 21 is a core component of RAI’s sustainability strategy.
          p #[a(href="/responsible-marketing-and-product-integrity.html" target="_blank") Learn about our Responsible Marketing practices].

//- .banner.banner-with-mobile-image.banner--quote.theme-light.theme-dark-blue-mobile(style="background-image: url('/images/youth-prevention/banner-2.jpg')")
  .container-lg
    .row.content.align-items-center
      .col-12.for-mobile
        .banner__image(style="background-image: url('/images/youth-prevention/banner-2.jpg')")
      .col-12.col-lg-6.offset-lg-6
        h3.h2-like.banner--quote__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        p.banner--quote__author Lorem ipsum

.container-lg.block-offset-top-and-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Goals and Leadership
        .information-dropdown__content.js-dropdown-content
          p Our goal for youth tobacco prevention is to lead corporate, educational and legislative initiatives that accelerate the decline in youth tobacco use. We measure our success through various mechanisms, including:
          ul.ul-like
            li Promoting awareness and use of our Right Decisions Right Now: Be Tobacco Free program (RDRN);
            li Number of our employee-led RDRN presentations;
            li Education and training materials to retailers to stop the sale of tobacco products to minors; and
            li Legislation passed to prevent minors from purchasing, using and possessing tobacco products, including next generation products.
          p Our efforts are a collaboration among engaged stakeholder groups including employees, trade partners, educators, government officials, non-profit organizations and consumers.
          p Our commitment is to keep youth tobacco prevention at the forefront of our efforts as we pursue our vision of transforming the tobacco industry. It is the right thing to do for our society and it is the right thing for our businesses.
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Youth tobacco prevention programs
        .information-dropdown__content.js-dropdown-content
          p The RAI Group supports youth tobacco prevention programs, like Right Decisions Right Now and We Card. These programs, in conjunction with other, similar programs, have played an important role in the decline in youth tobacco use since 1991.
          h5.h5-like Right decisions right now: Be Tobacco free (RDRN)
          p Started in 1991, RDRN is a free and easily accessed youth tobacco prevention program for use by middle-school educators, parents and community groups. Funded by R.J. Reynolds Tobacco Company, the evidence-based program was independently developed and tested and seeks to equip youth with skills they need to handle peer pressure and to make healthy lifestyle decisions, including the decision not to use tobacco products.
          p RDRN materials are designed for easy use: in middle schools; at home, through materials that parents and grandparents can download from the RDRN website; through scout programs; in church, youth and sports organizations; and in other forums where trusted adults can provide youth with the information and skills they need to learn.
          p RDRN has long partnered with the Boy Scouts of America and continues to gain momentum in increasing awareness among teens of the dangers of tobacco use.
          a.link-arrow(href="http://sustainability.reynoldsamerican.com/stories/right-decisions-right-now-be-tobacco-free-rdrn/" target="_blank")
            span Stories
            +svg('arrow-right')
          .mobile-offset-bottom
          h5.h5-like We Card
          p In 1995, R.J. Reynolds was a founding supporter of the We Card program, readily recognized by its yellow-and-red retail sign stating “Under 18, No Tobacco: We Card.” The program offers retailers materials and training to help them stop the sale of tobacco and vapor products to minors.
          p Today, the We Card program is widely accepted across the country as the premier tobacco sales training and education program for retailers, and R.J. Reynolds continues to be a strong supporter of that program. In 2018, governors in 34 states recognized We Card in its 23rd anniversary year of the national non-profit organization for providing training and education to help retailers comply with age-restricted product laws and serve their communities as responsible retailers. We Card’s online training includes real-life scenarios where retailers are challenged with simulated fake IDs and portrayals of youth who are not of legal age. Store employees are required to respond in the online training to properly validate identification before any tobacco sale is completed. To date:
          ul.ul-like
            li We Card has held over 2,100 classroom training sessions in all 50 states in the U.S. and U.S. territories;
            li Over 487,000 owners, managers and frontline employees have been trained by We Card; 44 state coalitions have been assembled to support state-level training and education;
            li 237 regional, state and local trade associations support the We Card program;
            li Over 1.19 million We Card kits that include materials to aid in verifying the age of a buyer have been distributed to retailers nationwide;
            li State government agencies in 25 states have supported the We Card program and at various times over the years, governors and state attorneys general have endorsed or expressed support for the We Card program.
          p As impressive as these numbers may be, the most important achievement of We Card and other programs and efforts like it is that FDA audits show that the illegal sale of tobacco products to minors has been reduced dramatically. Since 2010, the FDA has completed nearly 1.1 million retail store inspections of retailers’ compliance with legal age of purchase regulations and federal law.  In 2018, FDA enforcement data shows “no violations” for 88 percent of its retail inspections involving minors’ attempts to purchase tobacco and vapor products.
