extends pug/base

append vars
  - link.appleTouchIcon180x180 = '/apple-touch-icon.png'
  - link.icon32x32 = '/favicon-32x32.png'
  - link.icon16x16 = '/favicon-16x16.png'
  - link.manifest = '/site.webmanifest'
  - meta.msapplicationTileColor = '#da532c'
  - meta.themeColor = '#ffffff'

block content
  .site-container
    include ./pug/components/header

    .block-offset-top-and-bottom
      .block-offset-top-and-bottom
        h1.h3-like.text-center Equal Employment Opportunity and Affirmative Action Employer
        .container-small
          h5.text-headline Employment Opportunity:
          p The Company affords equal opportunity to all employees and applicants without regard to race, creed, national origin, sex, age, disability, marital status, sexual orientation, gender identity, veteran status, citizenship status, religion, genetic information, or any other characteristic protected by law.
          h5.text-headline Discrimination:
          p The Company will maintain a working environment free from discriminatory insult, intimidation or harassment in any form due to race, creed, national origin, sex, age, disability, marital status, sexual orientation, gender identity, veteran status, citizenship status, religion, genetic information, or any other characteristic protected by law.
          h5.text-headline Affirmative Action:
          p The Company promotes effective use of all team members, minorities, women, veterans and those with disabilities among them, through a positive, continuing affirmative action program at all levels throughout the company.

    include ./pug/components/to-top
    include ./pug/components/footer
