extends pug/base

append vars
	//- ...

block content
	.site-container
		include ./pug/components/header
		include ./pug/pages/ethics-and-compliance
		include ./pug/components/to-top
		include ./pug/components/footer
