extends pug/base

append vars
  //- ...

block content
  .site-container
    .container
      h2.h2-like.text-centered-and-decorated.block-offset-top.mobile-offset-bottom Pages
      a(href="/") Main
      br
      a(href="/brands.html") Brands
      br
      a(href="/leadership.html") Leadership
      br
      a(href="/ethics-and-compliance.html") Ethics and Compliance
      br
      a(href="/guiding-princples.html") Guiding Princples
      br
      a(href="/transformation-journey.html") Transformation Journey
      br
