extends pug/base

append vars
  - link.appleTouchIcon180x180 = '/apple-touch-icon.png'
  - link.icon32x32 = '/favicon-32x32.png'
  - link.icon16x16 = '/favicon-16x16.png'
  - link.manifest = '/site.webmanifest'
  - meta.msapplicationTileColor = '#da532c'
  - meta.themeColor = '#ffffff'

block content
  .site-container
    .container
      h2.h2-like.text-centered-and-decorated.block-offset-top.mobile-offset-bottom Pages
      a(href="/") Main
      br
      a(href="/sitemap.html") Sitemap
      br
      a(href="/brands.html") Brands
      br
      a(href="/contacts.html") Contacts
      br
      a(href="/leadership.html") Leadership
      br
      a(href="/ethics-and-compliance.html") Ethics and Compliance
      br
      a(href="/guiding-princples.html") Guiding Princples
      br
      a(href="/transformation-journey.html") Transformation Journey
      br
      a(href="/harm-reduction.html") Harm Reduction
      br
      a(href="/consumers.html") Consumers
      br
      a(href="/youth-prevention.html") Youth Prevention
      br
      a(href="/community-engagement.html") Community Engagement
      br
      a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      br
      a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      br
      a(href="/supplier-responsibility.html") Supplier Diversity
      br
      a(href="/why-rai.html") Why the RAI Group?
      br
      a(href="/meet-our-people.html") Meet Our People
      br
      a(href="/career-opportunities.html") Career Opportunities
      br
      a(href="/news-and-features.html") News and Features
      br
      a(href="/press-releases.html") News Releases
      br
      a(href="/resources.html") Resources
      br
      a(href="/image-library.html") Image Library
      br
      a(href="/privacy-policy.html") Privacy Policy
      br
      a(href="/careers-interstitial.html") Careers Interstitial Landing Page
      br
      a(href="/ca-carrers-notice.html") CA Carrers Notice
      br
      a(href="/eeo-aa.html") EEO/AA
      br
      a(href="/conditions-of-use.html") Conditions of Use
