extends pug/base

append vars
  //- ...

block content
  .site-container
    include ./pug/components/header

    .block-offset-top-and-bottom
      .block-offset-top-and-bottom
        h1.h3-like.text-center Policy & Privacy Statements
        .container-small
          h5.text-headline Adult Audience
          p This website is intended only for use by adults. Reynolds American Inc. (RAI) and its operating companies believe that youth should not use tobacco products. Our companies take no actions to encourage youth tobacco use, and support programs designed to discourage and reduce youth use. In addition, RAI and its operating companies’ correspondence policies are designed to limit business communications to adults only. We take these issues and responsibilities very seriously. Linking to this site from any site is expressly prohibited without permission.
          h5.text-headline Unsolicited Ideas
          p Although RAI appreciates people's interest in its business, it is our policy to decline consideration of unsolicited ideas and suggestions offered or submitted by the general public. RAI relies on its staff for the generation and implementation of new concepts. This is necessary in order to avoid misunderstandings over the origin of particular ideas. RAI does not accept unsolicited ideas for consideration, and asks you not to submit ideas.
          h5.text-headline Student Requests
          p Reynolds American Inc. has a longstanding corporate policy of not sending information on its business to students, as part of our commitment to directing brand-related communications to adult audiences and avoiding a tobacco-marketing presence in classrooms. RAI does not reply to any requests from students, unless they are seeking information on youth non-smoking programs. Anyone interested in RJR Tobacco's youth non-smoking programs should visit RJR Tobacco's separate "Right Decisions, Right Now" Web site: #[a(href="http://www.rightdecisionsrightnow.com/" target="_blank") www.rightdecisionsrightnow.com].
          h5.text-headline Equal Employment Opportunity and Affirmative Action Employer
          p Employment Opportunity: The Company affords equal opportunity to all employees and applicants without regard to race, creed, national origin, sex, age, disability, marital status, sexual orientation, gender identity, veteran status, citizenship status, religion or genetic information. 			Discrimination: The Company will maintain a working environment free from discriminatory insult, intimidation or harassment in any form due to race, creed, color, religion, sex, citizenship status, sexual orientation, marital status, age, national origin, disability, veteran status or genetic information. Affirmative Action: The Company promotes effective use of all team members, minorities, women, veterans and those with disabilities among them, through a positive, continuing affirmative action program at all levels throughout the company.
          h5.text-headline Privacy/Disclaimer
          p At Reynolds American Inc., we intend to give you control over your personal information. In general, you can surf this site (http://www.reynoldsamerican.com) without telling us who you are or revealing any information about yourself. We do collect domain names of visitors to this Web site to be able to measure the number of visits, average time spent on the site, pages viewed and other such statistical information. This information is used to measure the use of the site and to improve its content.
          h5.text-headline E-Mail
          p There are pages on this site where you can send e-mail to RAI. We will collect and store e-mail addresses for further use in corresponding with you, if either of us so chooses. If you prefer that we do not correspond to your e-mail address in the future, simply make the request in your e-mail note and we will respect your wishes. Any additional information you give us via e-mail (for example your name, title, company, address and phone number) will also be retained if we choose. If you at any point decide you do not want us to retain any of this information, send us an e-mail note with this request and we will again respect your wishes.
          h5.text-headline Use of Personal Information
          p The personal and e-mail data collected will be used only to communicate to you information on programs or issues where you have indicated an interest. We do not sell or rent personal information or e-mail addresses to other organizations or entities. We might do this in the future. If you at any point decide you do not want us to retain any of this information, send us an e-mail note with this request and we will respect your wishes.
          h5.text-headline Cookies
          p Cookies are little pieces of information that a web site stores on your machine so that it can recognize the same user each time the user returns to the site. The ReynoldsAmerican.com Web site uses cookies to enable better site-utilization management. If you are concerned about cookies, please turn on your browser's security feature to "Prompt Before Accepting Cookies" to inspect the information that is being stored.
          h5.text-headline Links To Other Sites
          p This site may contain "links" to other sites that we think might be of interest to you. RAI is not responsible for the content or the privacy practices employed by these "linked" sites.
          p We reserve the right to change our Policy and Privacy Statements.

    include ./pug/components/to-top
    include ./pug/components/footer
