*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font-primary;
}

button,
input {
  outline: none;

  &:focus {
    outline: none;
  }
}

.site-container {
  position: relative;
  min-height: 100vh;
}

.container-max {
  padding: 0 80px;

  @include desktop-lg {
    padding: 0 160px;
  }

  @include tablet {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 24px;
  }
}

.container-lg {
  margin: 0 auto;
  max-width: 1310px;

  @include tablet {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 16px;
  }
}

.container-sm {
  margin: 0 auto;
  max-width: 1000px;
}

.container-xs {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 814px;
}

h1,
.h1-like {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  @include tablet {
    font-size: 28px;
    line-height: 44px;
  }
}

.h1-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-primary !important;
}

h2,
.h2-like {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  @include tablet {
    font-size: 28px;
    line-height: 44px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 27px;
  }
}

.h2-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-secondary !important;
}

h3,
.h3-like {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;

  @include tablet {
    font-size: 28px;
    line-height: 36px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }
}

.h3-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-primary !important;
}

h4,
.h4-like {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  @include tablet {
    font-size: 20px;
    line-height: 32px;
  }
}

.h4-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-primary !important;
}

h5,
.h5-like {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  @include mobile {
    font-size: 16px;
    line-height: 24px;
  }
}

.h5-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-primary !important;
}

h6,
.h6-like {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @include mobile {
    font-size: 16px;
    line-height: 18px;
  }
}

.h6-like {
  // stylelint-disable-next-line declaration-no-important
  font-family: $font-secondary !important;
}

p {
  font-size: 14px;
  line-height: 24px;

  a {
    color: $color-bright-blue;

    &:hover {
      color: $color-bright-blue;
    }
  }
}

img {
  max-width: 100%;
}

.ul-like {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $color-black;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: $color-black;
    }
  }
}

.link-arrow {
  display: flex;
  align-items: center;

  span {
    margin-right: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-corporate-blue;
    transition: color 0.3s;
  }

  svg {
    width: 28px;
    height: 13px;
    fill: $color-corporate-blue;
    transform: translateZ(0);
    transition: transform 0.3s, fill 0.3s;
    will-change: transform;
  }

  @include desktop {
    &:hover {
      text-decoration: none;

      span {
        color: $color-bright-blue;
      }

      svg {
        fill: $color-bright-blue;
        transform: translateZ(0) translateX(8px);
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-corporate-yellow;
  border-radius: 24px;
  padding: 0 24px;
  min-width: 160px;
  max-width: 343px;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  color: $color-corporate-blue;
  background-color: $color-corporate-yellow;
  transition: color 0.3s, background 0.3s, border-color 0.3s;

  &:hover {
    text-decoration: none;
  }

  &.small {
    width: 160px;
  }

  &.medium {
    width: 243px;
  }

  &.large {
    max-width: 343px;
  }

  &.centered {
    margin-right: auto;
    margin-left: auto;
  }

  @include desktop {
    &:hover {
      border-color: rgba(23, 41, 98, 100);
      text-decoration: none;
      color: $color-corporate-blue;
      background: none;
    }

    &:active {
      border-color: $color-yellow-hover;
      background-color: $color-yellow-hover;
    }
  }
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-corporate-yellow;
  border-radius: 24px;
  padding: 0 24px;
  min-width: 160px;
  max-width: 343px;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  color: $color-corporate-blue;
  background-color: $color-corporate-yellow;
  transition: color 0.3s, background 0.3s, border-color 0.3s;

  svg {
    margin-left: 20px;
    width: 28px;
    height: 13px;
    fill: $color-corporate-blue;
    transition: fill 0.3s;
  }

  &:hover {
    text-decoration: none;
  }

  &.small {
    width: 160px;
  }

  &.medium {
    width: 243px;
  }

  &.large {
    max-width: 343px;
  }

  &.centered {
    margin-right: auto;
    margin-left: auto;
  }

  @include desktop {
    &:hover {
      border-color: rgba(23, 41, 98, 100);
      text-decoration: none;
      color: $color-corporate-blue;
      background: none;
    }

    &:active {
      border-color: $color-yellow-hover;
      background-color: $color-yellow-hover;
    }
  }
}

.border-left {
  // stylelint-disable-next-line declaration-no-important
  border-color: $color-corporate-yellow !important;
  padding-left: 23px;

  @include mobile {
    padding-left: 8px;
  }
}

.theme-light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  .ul-like,
  li,
  div {
    color: $color-white;
  }

  ul {
    li {
      &::before {
        background-color: $color-white;
      }
    }
  }

  @include desktop {
    .button,
    .secondary-button {
      &:hover {
        border-color: $color-white;
        text-decoration: none;
        color: $color-white;
        background: none;

        svg {
          fill: $color-white;
        }
      }

      &:active {
        border-color: $color-yellow-hover;
        color: $color-corporate-blue;
        background-color: $color-yellow-hover;
      }
    }
  }
}

.theme-dark-blue {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  .ul-like,
  li,
  div {
    color: $color-corporate-blue;
  }

  ul {
    li {
      &::before {
        background-color: $color-corporate-blue;
      }
    }
  }
}

.theme-dark-blue-mobile {
  @include mobile {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    .ul-like,
    li,
    div {
      color: $color-corporate-blue;
    }

    ul {
      li {
        &::before {
          background-color: $color-corporate-blue;
        }
      }
    }
  }
}

.text-left-mobile {
  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    text-align: left !important;
  }
}

.js-slider,
.js-slider-mobile {
  padding: 0 40px;

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -18px;
    border: none;
    width: 29px;
    height: 36px;
    font-size: 0;
    background: url("../images/sprites/svg/prev.svg") no-repeat center;
    background-size: 9px 16px;

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
      background-image: url("../images/sprites/svg/next.svg");
    }
  }

  @include mobile {
    padding: 0 30px;
  }
}

.block-offset-top-and-bottom {
  padding-top: $desktop-block-offset;
  padding-bottom: $desktop-block-offset;

  @include tablet {
    padding-top: $tablet-block-offset;
    padding-bottom: $tablet-block-offset;
  }

  @include mobile {
    padding-top: $mobile-block-offset;
    padding-bottom: $mobile-block-offset;
  }
}
