.is-hidden {
  // stylelint-disable-next-line declaration-no-important
  display: none !important;
}

.for-desktop {
  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-tablet-and-desktop {
  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-tablet {
  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-tablet-only {
  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }

  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-mobile {
  @include tablet-only {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.clearfix {
  overflow: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
