// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-corporate-blue: #172962;
$color-corporate-yellow: #fb0;
$color-bright-blue: #539ccb;
$color-pale-blue: #e1effc;
$color-background-blue: #f9fcfe;
$color-yellow-hover: #ffd960;

// FONTS
