// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-corporate-blue: #172962;
$color-corporate-yellow: #fb0;
$color-bright-blue: #539ccb;
$color-pale-blue: #6e757c;
$color-background-blue: #f9fcfe;
$color-yellow-hover: #ffd960;

// FONTS

$font-primary: "Arial", sans-serif;
$font-secondary: "Georgia", sans-serif;

// OFFSETS

$desktop-block-offset: 80px;
$tablet-block-offset: 64px;
$mobile-block-offset: 40px;
$mobile-xs-block-offset: 24px;

$primary-border-radius: 6px;
